<style>
    .bg-blue-purple-gradient {
        background: linear-gradient(to right, #a7c7e7, #e2c3f3); /* Pastel blue to pastel purple */
    }

</style>

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">

                <h4 class="page-title">Şəxsi məlumatlar</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-sm-12">
            <!-- Profile -->
            <div class="card bg-blue-purple-gradient ">
                <div class="card-body profile-user-box">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-lg">
                                        <img src="/res/user.svg" width="86" alt="" class="rounded-circle img-thumbnail">
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <h4 class="mt-1 mb-1 text-white">@ViewBag.userData.name @ViewBag.userData.surname</h4>
                                        <p class="font-13 text-white-50"> @ViewBag.userData.speciality.name</p>

                                        <ul class="mb-0 list-inline text-light">
                                            <li class="list-inline-item me-3">
                                                <h5 class="mb-1 text-white">Mobil nömrə</h5>
                                                <p class="mb-0 font-13 text-white-50">+994 @ViewBag.userData.mobile</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5 class="mb-1 text-white">Email</h5>
                                                <p class="mb-0 font-13 text-white-50">@ViewBag.userData.email</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-sm-4">
                            <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                <button type="button" class="btn btn-light">
                                    <i class="mdi mdi-account-edit me-1"></i> Redaktə
                                </button>
                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row -->

                </div> <!-- end card-body/ profile-user-box-->
            </div><!--end profile/ card -->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
    <!--<div class="row">
        <div class="col-sm-4">
            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="ri-shopping-basket-2-line float-end text-muted"></i>
                    <h6 class="text-muted text-uppercase mt-0">Orders</h6>
                    <h2 class="m-b-20">1,587</h2>
                    <span class="badge bg-primary"> +11% </span> <span class="text-muted">From previous period</span>
                </div>-->
    <!-- end card-body-->
    <!--</div>--> <!--end card-->
    <!--</div>--><!-- end col -->
    <!--<div class="col-sm-4">
        <div class="card tilebox-one">
            <div class="card-body">
                <i class="ri-archive-line float-end text-muted"></i>
                <h6 class="text-muted text-uppercase mt-0">Revenue</h6>
                <h2 class="m-b-20">$<span>46,782</span></h2>
                <span class="badge bg-danger"> -29% </span> <span class="text-muted">From previous period</span>
            </div>-->
    <!-- end card-body-->
    <!--</div>--> <!--end card-->
    <!--</div>--><!-- end col -->
    <!--<div class="col-sm-4">
        <div class="card tilebox-one">
            <div class="card-body">
                <i class="ri-vip-diamond-line float-end text-muted"></i>
                <h6 class="text-muted text-uppercase mt-0">Product Sold</h6>
                <h2 class="m-b-20">1,890</h2>
                <span class="badge bg-primary"> +89% </span> <span class="text-muted">Last year</span>
            </div>-->
    <!-- end card-body-->
    <!--</div>--> <!--end card-->
    <!--</div>--><!-- end col -->
    <!--</div>-->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <p>Ödənişli planın bitmə vaxtı</p>
                            <p>
                                @if (ViewBag.expiredDate != null)
                                {
                                    @ViewBag.expiredDate.ToString("dd.MM.yyyy")
                                }
                                else
                                {
                                    <span>Tarix mövcud deyil</span>
                                }
                            </p>
                        </div>
                        @{
                            if (ViewBag.expiredDate == null || ViewBag.expiredDate < DateTime.Now)
                            {
                                <button onclick="window.location.href = '@Url.Action("Index", "Pricing")';" type="button" class="btn btn-primary">
                                    Planı uzat
                                </button>
                            }
                        }
                    </div>


                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="header-title">Xidmətləriniz</h4>
                        <button type="button" class="btn btn-primary" id="openServiceModal">
                            Xidmət əlavə et
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Xidmət</th>
                                    <th>Qiymət</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.services)
                                {
                                    <tr class="service-row" data-service='@Html.Raw(Json.Serialize(item))'>
                                        <td>@item.name</td>
                                        <td>@item.price AZN</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!-- end table responsive-->
                </div> <!-- end card body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>


  
    <!-- end row -->

</div> <!-- container -->

<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel">Xidmətin yenilənməsi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="updateServiceForm">
                    <div class="form-group mb-3">
                        <label for="serviceName">Xidmətin adı</label>
                        <input type="text" class="form-control" id="selectedServiceName" name="name" placeholder="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="servicePrice">Qiymət</label>
                        <input type="number" step="0.01" class="form-control" id="selectedServicePrice" name="price" placeholder="">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary col-5" onclick="updateService()" id="updateServiceBtn">Yenilə</button>
                        <button type="button" class="btn btn-danger col-5" id="deleteServiceBtn" onclick="updateService(false)">Sil</button>
                        <button type="button" class="btn btn-success col-5" id="addServiceBtn" onclick="addService()">Əlavə et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel">Məlumatların yenilənməsi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="updateUserForm">
                    <div class="form-group mb-3">
                        <label for="name">Adınız</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="surname">Soyadınız</label>
                        <input type="text" class="form-control" id="surname"  placeholder="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Ata adı</label>
                        <input type="text" class="form-control" id="father" placeholder="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Elektron poçt</label>
                        <input type="text" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Mobil nömrəniz</label>
                        <input type="text" class="form-control" id="mobile" placeholder="">
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary col-5" onclick="updateUser()">Yenilə</button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var selectedServiceID = 0;

        $('.service-row').on('click', function () {

            const service = $(this).data('service');

            selectedServiceID = service.id;
            $('#selectedServiceName').val(service.name);
            $('#selectedServicePrice').val(service.price);

            $('#updateServiceBtn').show()
            $('#deleteServiceBtn').show()
            $('#addServiceBtn').hide()

            $('#serviceModal').modal('show');
        });

        $('#openServiceModal').on('click', function () {
            $('#serviceModal').modal('show');

            $('#updateServiceBtn').hide()
            $('#deleteServiceBtn').hide()
            $('#addServiceBtn').show()
        });
    function addService() {
        showLoading();

        var serviceName = $('#selectedServiceName').val();
        var servicePrice = $('#selectedServicePrice').val();
       var isActive = typeof isActive !== 'undefined' ? isActive : true;

        // Create the service object
        var service = {

            price: servicePrice,
            name: serviceName,
            isActive: isActive
        };

        $.ajax({
            url: '@Url.Action("InsertService", "Profile")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(service),
            success: function (response) {

                location.reload();

                window.addEventListener('beforeunload', hideLoading);
                    },
            error: function (error) {
                        alert('Error occurred while updating service:', error);
                        // Handle the error scenario appropriately
                        hideLoading();
                    }
                });
    }

     function updateService(isActive) {
        showLoading();

        var serviceName = $('#selectedServiceName').val();
         var servicePrice = $('#selectedServicePrice').val();

         // Default isActive to 1 if no value is provided
         isActive = typeof isActive !== 'undefined' ? isActive : true;

        // Create the service object
        var service = {
            ID: selectedServiceID,
            price: servicePrice,
            name: serviceName,
            isActive: isActive

        };

        $.ajax({
            url: '@Url.Action("UpdateService", "Profile")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(service),
            success: function (response) {

                location.reload();

                window.addEventListener('beforeunload', hideLoading);
                    },
            error: function (error) {
                        alert('Error occurred while updating service:', error);
                        // Handle the error scenario appropriately
                        hideLoading();
                    }
                });
     }


       function updateUser() {
        showLoading();
           var userID = '@ViewBag.userData.name'
        var name = $('#userName').val();
         var surname = $('#userSurname').val();
         var mail = $('#userMail').val();

        // Create the service object
           var service = {
               id: userID,
            name: name,
            surname: surname,
            father: father,
            mail:mail

        };

        $.ajax({
            url: '@Url.Action("UpdateService", "Profile")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(service),
            success: function (response) {

                location.reload();

                window.addEventListener('beforeunload', hideLoading);
                    },
            error: function (error) {
                        alert('Error occurred while updating service:', error);
                        // Handle the error scenario appropriately
                        hideLoading();
                    }
                });
    }
    </script>
}