
@model FlexitHisMVC.Areas.Admin.Model.PersonalPageDTO
<div class="page-header m-1" style="display:inline">
    <div class="row">
        <div class="col-2 border-right"> <h1>Personal tərifi</h1></div>
        <div class="col-9"> <h1>  <button type="button" class="btn btn-primary " onclick=" $('#addPersonal').modal('show')">+ Əlavə et</button></h1></div>

    </div>



</div>
@*<div class="jumbotron jumbotron-fluid">
        <div class="container">


        </div>
    </div>*@
<!--<div class="row m-3 ml-0 ">
    <div class="col-12 ">
        <div class="row">
            <div class="col-4">
                <div class="form-group border-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Personal tərifi</h2>

                        </div>
                    </div>
                </div>

            </div>

            <div class="co-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary " onclick=" $('#addPersonal').modal('show')">+ Əlavə et</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>-->
<!-- <div class="col-6 text-right ">     <button type="button" class="btn btn-dark " onclick=" $('#patientSearch').modal('show');">Axtar</button></div> -->
<!--</div>-->

<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-transparent">
                Personal siyahısı
                <div class="form-group float-right">
                    <div class="row">
                        <div class="col-md-12">

                            <select class="form-control" required id="depIsActiveFilter" onchange="{
                                    $('.depTypesInBuildingItem.active').click();}">
                                <option value="1">Aktiv</option>
                                <option value="0">Deaktiv</option>

                            </select>

                        </div>



                    </div>
                </div>
            </div>
            <div class="card-header ">
                <div class="row">
                    <div class="col-6">Adı</div>
                    <div class="col-3">İxtisas</div>
                    <div class="col-2 text-right">Həkim</div>
                </div>

            </div>
            <div class="list-group-flush" style="max-height: 50vh; overflow-y: auto" id="depTypesInBuilding">

                @*<div class="row">
                        <div class="col">
                            <div>Adı</div>
                            <div> </div>
                            <div> 2</div>
                            <div>3</div>
                        </div>
                        <div class="col">
                            <div>İxtisas</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>

                        <div class="col">
                            <div>Həkim</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>
                    </div>*@

                @{
                    foreach (var item in Model.personalList)

                    {
                        <div class="list-group-item list-group-item-action personal-list" onclick=' personalClicked(this, @Html.Raw(Json.Serialize(item)));'>

                            <div class="row">
                                <div class="col-6">@item.name @item.surname</div>
                                <div class="col-3">@item.speciality</div>
                                <div class="col-2 text-right">
                                    @{
                                        if (item.isDr)
                                        {
                                            <input class=" me-1 " type="checkbox" value="" checked>
                                        }
                                        else
                                        {
                                            <input class=" me-1 " type="checkbox" value="">
                                        }
                                    }

                                </div>
                            </div>

                        </div>
                        @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                    }


                }


            </div>
        </div>


    </div>
    <div class="col-md-6">

        <div class="card selectedDepCard">
            <div class="card-header bg-transparent">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="generalSettingsButton" onclick="settingsBoxClicked(1)">Ümumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="positionSettingsButton" onclick="settingsBoxClicked(2)">Vəzifə yeri</a>
                    </li>

                </ul>
            </div>
            <div class="m-3" id="generalSettings">
                <ul class="nav nav-pills pb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Əsas məlumatlar</a>
                    </li>
                    <li class="nav-item">
                    </li>

                </ul>
                <div class="row mt-3">
                    <div class="col-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Registr kodu</label>
                                    <input type="text" class="form-control" id="reqCode" placeholder="00000" aria-label="00000">

                                </div>
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Ata adı</label>
                                    <input type="text" class="form-control" id="father" placeholder="Cəbrayıl" aria-label="00000">

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Doğum tarixi</label>
                                    <input type="date" class="form-control" id="bDate" placeholder="00000" aria-label="00000">

                                </div>
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">İxtisas</label>
                                    <input type="text" class="form-control" id="speciality" placeholder="Cəbrayıl" aria-label="00000">

                                </div>

                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1">Mobil nömrə</label>
                                    <input type="text" class="form-control" id="mobile" placeholder="00000" aria-label="00000">

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12" style="display:inline">
                                                <label for="exampleFormControlSelect1">E-poçt ünvanı</label>
                                                <input type="text" class="form-control" id="email" placeholder="Cəbrayıl" aria-label="00000">


                                            </div>


                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12" style="display:inline">
                                                <input class=" me-1 " type="checkbox" value="">
                                                <label for="exampleFormControlSelect1">email göndər</label>


                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" class="rounded mx-auto d-block" style="max-width:120px; max-height:160px" alt="...">
                    </div>
                </div>

                <div class="form-group border-top">
                    <div class="row mt-3 ">
                        <div class="col-md-5 ">
                            <label>Şifrə</label>
                            <button type="button" class="form-control btn text-dark text-left pl-0">Yeni şifrə təyini</button>

                        </div>
                        <div class="col-md-5 ">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="isUser" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">İstifadəçi</label>


                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="isActive" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">İşdən ayrılan personal</label>


                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right mt-auto">
                            <div class="row">
                                <div class="col-md-12" style="display:inline">
                                    <button type="button" class="btn text-info">Yadda saxla</button>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="positionSettings" style="display:none">
                <ul class="nav nav-pills m-3 mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Şöbələr</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kassa</a>
                    </li>

                </ul>

                <div class="ml-3 mb-3">




                    <label>Müəssisə</label>
                    <div class="row">
                        <div class="col-4">
                            <div class="dropdown">

                                <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="userHospitals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Əlavə olunmuş müəssisələr</h6>
                                    <div id="userHospitalsMenu">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <button type="button" class="btn btn-light" onclick="{$('#addHospital').modal('show');}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD" />
                                </svg> müəssisə əlavə et
                            </button>
                        </div>
                    </div>




                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-light">

                            <div class="card-header ">
                                <div class="row justify-content-end">
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-outline-dark float-right" onclick="{$('#addDepartment').modal('show');}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD" />
                                            </svg>
                                            Şöbə əlavə et
                                        </button>
                                    </div>
                                    


                                </div>
                                <div class="row">
                                    <div class="col-3">Şöbənin adı</div>
                                    <div class="col-3">Tipi</div>
                                    <div class="col-3">Gör</div>
                                    <div class="col-3">Tam kontrol</div>

                                </div>



                            </div>
                            <div class="list-group-flush" style="max-height: 20vh; overflow-y: auto" id="depsInHospitalByUser">






                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>



    </div>
    @*@Html.Partial("_PersonalSettingsBoxPartial")*@


</div>
<div class="modal fade" id="addDepartment" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçiyə şöbənin əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Şöbələr</label>
                                        <select class="form-control dropdown" required id="depsInHospital">
                                        </select>

                                    </div>





                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addDepartmentToUser()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addHospital" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçiyə xəstəxana əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Xəstəxanalar</label>
                                        <select class="form-control dropdown" required id="allHospitals">
                                            @{foreach (var item in Model.hospitalList)
                                                {
                                                    <option value="@item.id">@item.hospitalName</option>
                                                }
                                            }
                                        </select>

                                    </div>





                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addHospitalToUser()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addPersonal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation container" novalidate>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/user.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>Personal əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserName"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Soyadı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserSurname"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Ata adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserFather"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Doğum tarixi</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="date" class="form-control" required id="newUserBDate"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">ŞV seriyası</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserPassportSerialNo"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Fin No</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserFin"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Mobil nömrə</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserMobile"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Elektron poçt ünvanı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserEmail"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group ">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">


                                    <div class="col-md-6">


                                        <label>İxtisas</label>
                                        <div>
                                            <div class="dropdown">

                                                <button type="button" class="btn btn-secondary dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="justify-content-end newUserSpeciality">Seçin...</span>
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    @{
                                                        foreach (var item in Model.specialityList)

                                                        {
                                                            <a class="dropdown-item" id="@item.id" onclick="{$('.newUserSpeciality').text('@item.name');$('.newUserSpeciality').attr('id','@item.id');}">@item.name</a>

                                                            @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                                                        }
                                                    }


                                                </div>
                                            </div>

                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group border-bottom pb-3">
                                <div class="row">


                                    <div class="col-md-6 ">
                                        <label>Həkim</label>
                                        <input class=" me-1 " id="isDr" type="checkbox" value="">


                                    </div>



                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-10 ">
                                        <h6>İstifadəçi məlumatları</h6>

                                    </div>
                                    <div class="col-md-2 ">
                                        <label for="exampleFormControlSelect1">İstifadəçi</label>
                                        <input class=" me-1 " id="isUser" type="checkbox" onclick="checkIsUserBox(this)" value="">


                                    </div>



                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">İstifadəçi adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserUsername"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Şifrə</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserPwd"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addPersonal()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>

                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts
{

    <script>

        var selectedHospital;
      var selectedPersonalID = @Model.personalList[0].ID;
        $("#reqCode").val(@Model.personalList[0].ID);

        var today = new Date('@Model.personalList[0].bDate').toISOString().split('T')[0];

        $("#bDate").val(today);
        getHospitalsByUser(selectedPersonalID);
        getDepartmentsByUser();
        $("#speciality").val(`${selectedPersonalID}`);
        $("#mobile").val('@Model.personalList[0].mobile');
        $("#email").val('@Model.personalList[0].email');
        $("#father").val('@Model.personalList[0].father');


        var newPersonalIsUser = 0;
        function checkIsUserBox(state) {
            if ($(state).is(':checked'))
            {
                $("#newUserUsername").prop('required', true);
                $("#newUserPwd").prop('required', true);
                newPersonalIsUser = 1;
            }
            else {
                newPersonalIsUser = 0;
                $("#newUserUsername").prop('required', false);
                $("#newUserPwd").prop('required', false);
            }

        }
        function addHospitalToUser(hospitalID) {
            $.post("/Admin/Personal/AddHospitalToUser", { hospitalID: hospitalID, userID: $("#reqCode").val() }, function (data) {
                $(".result").html(data);
            });
        }



        function getHospitalsByUser(personalID) {
         $.get(
                "/Admin/Personal/HospitalsByUser",
            { personalID: selectedPersonalID },
            function (data) {
                if (data.length > 0) {
                    $("#userHospitals").text(data[0].hospitalName);
                    $("#userHospitals").val(data[0].hospitalID);
                     $("#userHospitals").text(data[0].hospitalName);
                    selectedHospital = data[0].hospitalID;
                    $("#userHospitalsMenu").empty();

                    $.each(data, function () {

                        $("#userHospitalsMenu").append($(`


                                            <div class="row m-1">
 <div class="col-9 ">
<a class="dropdown-item"  id=${this.id} onclick="{  $('#userHospitals').text('${this.hospitalName}').val('${this.hospitalID}');getDepartmentsByHospital(${this.hospitalID}); }">
                                                ${this.hospitalName}</a></div>
                                                <div class="col-3 "><button class='btn text-danger' onclick = 'removeHospitalFromUser(${this.hospitalID});'>Sil</button></div>
                                            </div>
                                        </div>

`));


                    });
                     getDepartmentsByHospital($('#userHospitals').val());
                }
                else {
                     selectedHospital = 0;
                    $("#userHospitals").text("Əlavə edin");
                    $("#userHospitalsMenu").empty();

                }
            }

        );

              }

        function getDepartmentsByHospital(hospitalID) {
            $("#depsInHospital").empty();
            $.get(
                "/Admin/Personal/DepartmentsByHospital",
                { hospitalID: hospitalID },
                function (data) {
                    if (data.length > 0) {

                        $.each(data, function () {


                            $("#depsInHospital").append($(`
    <option id='${this.id}'>${this.name} - ${this.type}</option>



`));

                           


                        });
                    }
                    else {

                        $("#depsInHospital").empty();

                        $("#depsInHospital").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                    }

                });

        }
          function getDepartmentsByUser() {
           
            $.get(
                "/Admin/Personal/GetUserDepartments",
                { userID: $("#reqCode").val() },
                function (data) {
                    if (data.userDepRels.length > 0) {

                        $.each(data.userDepRels, function () {


                         

                            $("#depsInHospitalByUser").append($(`

<div class="list-group-item list-group-item-action dep-list" id=${this.id} onclick="$('.dep-list').removeClass('active'); $(this).addClass('active');">

                            <div class="row">
                                <div class="col-3">${this.name}</div>
                                <div class="col-3">${this.type}</div>
                                <div class="col-3 ">
<input class=" me-1 " type="checkbox" value="">
     
                                </div>
<div class="col-3 "><input class=" me-1 " type="checkbox" value="">
                            </div>

                        </div>


`));


                        });
                    }
                    else {

                        $("#depsInHospitalByUser").empty();

                        $("#depsInHospitalByUser").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                    }

                });

        }

        function personalClicked(component,obj)
        {
            selectedPersonalID = obj.id;
            $('.personal-list').removeClass('active');
            $(component).addClass('active');
            $("#reqCode").val(obj.id);

            var today = new Date(obj.bDate).toISOString().split('T')[0];

            $("#bDate").val(today);

            $("#speciality").val(obj.speciality);
            $("#mobile").val(obj.mobile);
            $("#email").val(obj.email);
            $("#father").val(obj.father);

             getHospitalsByUser(selectedPersonalID);





    }




        function personalListClick(obj) {
            $('.personal-list').removeClass('active');
            $(obj).addClass('active');
        }
        function generalSubClicked(box) {
            switch (box) {
                case 1:
                    $('#positionSettings').hide();
                    $('#generalSettings').show()
                    $("#generalSettingsButton").addClass("active")
                    $("#positionSettingsButton").removeClass("active")
                    break;

                case 2:
                    $('#generalSettings').hide();
                    $('#positionSettings').show();
                    $("#positionSettingsButton").addClass("active")
                    $("#generalSettingsButton").removeClass("active")
                    break;
            }
        }
        function settingsBoxClicked(box) {
            switch (box) {
                case 1:
                    $('#positionSettings').hide();
                    $('#generalSettings').show()
                    $("#generalSettingsButton").addClass("active")
                    $("#positionSettingsButton").removeClass("active")
                    break;

                case 2:
                    $('#generalSettings').hide();
                    $('#positionSettings').show();
                    $("#positionSettingsButton").addClass("active")
                    $("#generalSettingsButton").removeClass("active")
                    break;
            }
        }

        function addPersonal() {

            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {


                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    //alert('sucess');
                }
                //else {
                //    form.reportValidity()
                //    //alert('asas');
                //}
                form.classList.add('was-validated');


            });

            if (forms[0].checkValidity()) {
                var newUserIsDr = 0;

                if ($("#isDr").is(':checked')) {
                    newUserIsDr = 1;
                }


                var name = $('#newUserName').val();
                var surname = $('#newUserSurname').val();
                var father = $('#newUserFather').val();
                var phone = $('#newUserMobile').val();
                var email = $('#newUserEmail').val();
                var bDate = $('#newUserBDate').val()
                var fin = $("#newUserFin").val();
                var passportSerialNo = $("#newUserPassportSerialNo").val();
                var username = $("#newUserUsername").val();
                var password = $("#newUserPwd").val();
                var specialityID = $('.newUserSpeciality').attr('id')

                //var date = new Date(bDate);
                //var isoBdate = date.toISOString()

                $('#systemModal').modal('show');
                $('#systemModalTitle').text("Yüklənir...");
                $('#systemModalText').html(`<center><div class="spinner-border text-dark mx-auto" role="status">
    <span class="sr-only">Loading...</span>
  </div></center>`);
                $('#systemModalBtn').attr("hidden", "");

                $.ajax({

                    type: "POST",
                    url: "/Admin/Personal/Add",
                    data: {
                        "name": name,
                        "surname": surname,
                        "father": father,
                        "specialityID": specialityID,
                        "passportSerialNum": passportSerialNo,
                        "fin": fin,
                        "phone": phone,
                        "email": email,
                        "username": username,
                        "pwd": password,
                        "isUser": newPersonalIsUser,
                        "bDate": bDate,
                        "isDr": newUserIsDr
                    },
                    success: function (data, status, xhr) {   // success callback function
                        //  var json = JSON.stringify(data)

                        if (data > 0) {
                            $('#systemModal').modal('hide')
                            $('#warningModal').modal('show')
                            $('#warningText').text('Personal əlavə olundu!');
                        }
                        else {
                            $('#systemModal').modal('hide')
                            $('#warningModal').modal('show')
                            $('#warningText').text('Personal artıq mövcuddur!');
                        }




                    },
                    error: function (jqXhr, textStatus, errorMessage) {

                        //alert(jqXhr.status)// error callback

                        if (jqXhr.status == 401) {

                            $('#systemModalTitle').text("Sessiyanız başa çatıb");
                            $('#systemModalText').html(`<p id="systemModalText">Zəhmət olmasa yenidən giriş edin</p>`);
                            $('#systemModalBtn').removeAttr("hidden");
                        }
                        else {
                            $('#systemModal').modal('hide');
                            $('#warningModal').modal('show')
                            $('#warningText').text('Xəta, biraz sonra yenidən cəhd edin');
                            //  $('#alert').text('Error: ' + errorMessage);
                        }
                    }

                });
                // alert(`
                // cfn: `+clientFullName+`
                // cp: `+clientPhone+`
                // kvm: `+kvm+`
                // price: `+price+`
                // payment: `+payment+`
                // note: `+note+`
                // productModel: `+productModel+`
                // productEndDate: `+isoEndDate+`
                //
                //   `)

            }
        }
        function addHospitalToUser() {


            $.post(
                "/Admin/Personal/AddHospitalToUser",
                { userID: $("#reqCode").val(), hospitalID: $("#allHospitals").val() },
                function (data) {
                    if (data > 0) {
                          getHospitalsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə əlavə olundu!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə artıq əlavə olunub!');
                    }
                }

            );

        }
        function removeHospitalFromUser(hospitalID) {


            $.post(
                "/Admin/Personal/RemoveHospitalFromUser",
                { userID: $("#reqCode").val(), hospitalID:  hospitalID },
                function (data) {
                    if (data > 0) {
                        getHospitalsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə silindi!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə silinmədi!');
                    }
                }

            );

        }

         function addDepartmentToUser() {
var id = $("#depsInHospital").find('option:selected').attr('id');
            $.post(
                "/Admin/Personal/AddDepToUser",
                { userID: $("#reqCode").val(), depID: id},
                function (data) {
                    if (data > 0) {
                          getHospitalsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə əlavə olundu!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə artıq əlavə olunub!');
                    }
                }

            );

        }

    </script>

    @*<script src="~/js/admin/departments/adminDep.js" asp-append-version="true"></script>*@
}