
@model FlexitHisMVC.Areas.Admin.Model.PersonalPageDTO

<div class="row">
    <div class="col-12 ">
        <div class="row">
            <div class="col-4">
                <div class="form-group border-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Personal tərifi</h2>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-2">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary " onclick=" $('#addPersonal').modal('show');">+ Əlavə et</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="form-group float-right">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Status</label>
                            <select class="form-control" required id="depIsActiveFilter" onchange="{
                                    $('.depTypesInBuildingItem.active').click();}">
                                <option value="1">Aktiv</option>
                                <option value="0">Deaktiv</option>

                            </select>

                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <div class="col-6 text-right ">     <button type="button" class="btn btn-dark " onclick=" $('#patientSearch').modal('show');">Axtar</button></div> -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header bg-transparent ml-2 mr-2">
                Personal siyahısı
            </div>
            <div class="card-header  ml-2 mr-2">
                <div class="row">
                    <div class="col-6">Adı</div>
                    <div class="col-3">İxtisas</div>
                    <div class="col-2 text-right">Həkim</div>
                </div>

            </div>
            <div class="list-group-flush ml-3 mr-3" id="depTypesInBuilding">

                @*<div class="row">
                        <div class="col">
                            <div>Adı</div>
                            <div> </div>
                            <div> 2</div>
                            <div>3</div>
                        </div>
                        <div class="col">
                            <div>İxtisas</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>

                        <div class="col">
                            <div>Həkim</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>
                    </div>*@

                @{
                    foreach (var item in Model.personalList)

                    {
                        <div class="list-group-item list-group-item-action personal-list" onclick=' personalClicked(this, @Html.Raw(Json.Serialize(item)));'>

                            <div class="row">
                                <div class="col-6">@item.name @item.surname</div>
                                <div class="col-3">@item.speciality</div>
                                <div class="col-2 text-right">
                                    @{
                                        if (item.isDr)
                                        {
                                            <input class=" me-1 " type="checkbox" value="" checked>
                                        }
                                        else
                                        {
                                            <input class=" me-1 " type="checkbox" value="">
                                        }
                                    }

                                </div>
                            </div>

                        </div>
                        @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                    }
                }


            </div>
        </div>


    </div>
    <div class="col-md-6">

        <div class="card selectedDepCard">
            <div class="card-header bg-transparent">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="generalSettingsButton" onclick="settingsBoxClicked(1)">Ümumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="positionSettingsButton" onclick="settingsBoxClicked(2)">Vəzifə yeri</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div id="generalSettings">
                    <ul class="nav nav-pills pb-3 border-bottom">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Əsas məlumatlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Təhlükəsizlik</a>
                        </li>
                       
                    </ul>
                    <div class="row mt-3">
                        <div class="col-8">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1">Registr kodu</label>
                                        <input type="text" class="form-control" id="reqCode" placeholder="00000" aria-label="00000">

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1">Ata adı</label>
                                        <input type="text" class="form-control" id="father" placeholder="Cəbrayıl" aria-label="00000">

                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1">Doğum tarixi</label>
                                        <input type="date" class="form-control" id="bDate" placeholder="00000" aria-label="00000">

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1">İxtisas</label>
                                        <input type="text" class="form-control" id="speciality" placeholder="Cəbrayıl" aria-label="00000">

                                    </div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1">Mobil nömrə</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="00000" aria-label="00000">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12" style="display:inline">
                                                    <label for="exampleFormControlSelect1">E-poçt ünvanı</label>
                                                    <input type="text" class="form-control" id="email" placeholder="Cəbrayıl" aria-label="00000">


                                                </div>


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12" style="display:inline">
                                                    <input class=" me-1 " type="checkbox" value="">
                                                    <label for="exampleFormControlSelect1">email göndər</label>


                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" class="rounded mx-auto d-block" style="max-width:120px; max-height:160px" alt="...">
                        </div>
                        </div>
                      
                        <div class="form-group border-top">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="exampleFormControlSelect1" st>Şifrə</label>
                                    <button type="button" class="form-control btn btn-light">Yeni şifrə təyini ></button>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12" style="display:inline">
                                                <input class=" me-1 " id="isUser" type="checkbox" value="">
                                                <label for="exampleFormControlSelect1">İstifadəçi</label>


                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12" style="display:inline">
                                                <input class=" me-1 " id="isActive" type="checkbox" value="">
                                                <label for="exampleFormControlSelect1">İşdən ayrılan personal</label>


                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                <div id="positionSettings" style="display:none">
                    <ul class="nav nav-pills pb-1 border-bottom">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Şöbələr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kassa</a>
                        </li>

                    </ul>
                       
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" onclick="updateDep()" id="depIsActive">
                            <label class="form-check-label">
                                Aktiv
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" onclick="updateDep()" id="isRandevuActive">
                            <label class="form-check-label" for="flexCheckChecked">
                                Randevulu Çalışan Birim
                            </label>
                        </div>
                    </div>


                </div>
            </div>


            <div class="card-footer"> <button type="button" class="btn btn-info float-right">Yadda saxla</button></div>
        </div>



    </div>
    @*@Html.Partial("_PersonalSettingsBoxPartial")*@


</div>


<div class="modal fade" id="addPersonal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>Personal əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Adı</label>
                                        <!-- <select class="form-control" id="departments">
                                </select> -->

                                        <input type="text" class="form-control" required id="companyName"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Soyadı</label>
                                        <!-- <select class="form-control" id="departments">
                                </select> -->

                                        <input type="text" class="form-control" required id="companyName"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Fin nömrə</label>
                                        <!-- <select class="form-control" id="departments">
                                </select> -->

                                        <input type="text" class="form-control" required id="companyName"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label>İxtisas</label>
                                        <select class="form-control" id="specialities" required>
                                            @{
                                                foreach (var item in Model.specialityList)

                                                {
                                                   <option id="@item.id">@item.name</option>
                                                    @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                                                }
                                            }
                                        </select>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="insertCompany()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>

                        </div>





                    </div>



                </form>
            </div>
         
        </div>
    </div>
</div>
@section Scripts
{

    <script>

        $("#reqCode").val(@Model.personalList[0].ID);

        var today = new Date('@Model.personalList[0].bDate').toISOString().split('T')[0];

        $("#bDate").val(today);

        $("#speciality").val('@Model.personalList[0].speciality');
        $("#mobile").val('@Model.personalList[0].mobile');
        $("#email").val('@Model.personalList[0].email');
        $("#father").val('@Model.personalList[0].father');

        

        function personalClicked(component,obj)
        {
            $('.personal-list').removeClass('active');
            $(component).addClass('active');
            $("#reqCode").val(obj.id);

            var today = new Date(obj.bDate).toISOString().split('T')[0];

            $("#bDate").val(today);

            $("#speciality").val(obj.speciality);
            $("#mobile").val(obj.mobile);
            $("#email").val(obj.email);
            $("#father").val(obj.father);
        }


        function personalListClick(obj) {
            $('.personal-list').removeClass('active');
            $(obj).addClass('active');
        }
        function generalSubClicked(box) {
            switch (box) {
                case 1:
                    $('#positionSettings').hide();
                    $('#generalSettings').show()
                    $("#generalSettingsButton").addClass("active")
                    $("#positionSettingsButton").removeClass("active")
                    break;

                case 2:
                    $('#generalSettings').hide();
                    $('#positionSettings').show();
                    $("#positionSettingsButton").addClass("active")
                    $("#generalSettingsButton").removeClass("active")
                    break;
            }
        }
        function settingsBoxClicked(box) {
            switch (box) {
                case 1:
                    $('#positionSettings').hide();
                    $('#generalSettings').show()
                    $("#generalSettingsButton").addClass("active")
                    $("#positionSettingsButton").removeClass("active")
                    break;

                case 2:
                    $('#generalSettings').hide();
                    $('#positionSettings').show();
                    $("#positionSettingsButton").addClass("active")
                    $("#generalSettingsButton").removeClass("active")
                    break;
            }
        }</script>

    @*<script src="~/js/admin/departments/adminDep.js" asp-append-version="true"></script>*@
}