@{
    Layout = null;
    ViewData["Title"] = "Qeydiyyat";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicloud - @ViewData["Title"] </title>


    <!-- App css -->
    <link href="/assets/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />


    <!-- Icons css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/res/brand/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/res/brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/res/brand/favicon-16x16.png">
    <link rel="manifest" href="~/res/brand/site.webmanifest">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
    </style>
</head>
<body class="authentication-bg ">

    <div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(6,147,227, 0.1); " cx='400' cy='400' r='600' />
                <circle style="fill: rgba(6,147,227, 0.2);" cx='400' cy='400' r='500' />
                <circle style="fill: rgba(6,147,227, 0.3); " cx='400' cy='400' r='300' />
                <circle style="fill: rgba(6,147,227, 0.4); " cx='400' cy='400' r='200' />
                <circle style="fill: rgba(6,147,227, 0.5); " cx='400' cy='400' r='100' />
            </g>
        </svg>
    </div>


    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-lg-9">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-7 text-center row">
                                <div class="card-header pb-0 text-center ">
                                    <a href="/">
                                        <img src="/assets/images/mc_logo_inline.svg" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Logo -->



                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center pb-0 fw-bold">Hesab yarat</h4>
                                <p class="text-muted mb-4">Sağlamlığınızı buludlara qaldırın</p>
                            </div>
                            <div class="alert alert-danger" id="alert" hidden role="alert"></div>
                            <form id="addUserForm" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="position-relative border-bottom text-center mb-2 mb-sm-0 justify-content-center">
                                            <img id="profileImage" src="/res/user.svg"
                                                 alt="Profile Image" class="rounded-circle mb-1" width="150" height="150" style="object-fit:cover;">
                                            <input type="file" id="profilePicture" name="profilePicture" accept="image/*" class="d-none" required onchange="previewProfilePicture(event)">
                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, profil şəkli əlavə edin.
                                            </div>
                                            <button type="button" class="btn btn-light btn-sm position-absolute mb-1" style="bottom: 0; right: 0; border-radius: 50%;" onclick="changePicture(event)">
                                                <i class="ri-pencil-fill"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Ad</label>
                                            <div class="input-group has-validation">
                                                <input type="text" id="name" class="form-control" placeholder="Adı daxil edin" required>
                                                <div class="invalid-feedback">
                                                    Zəhmət olmasa, adınızı daxil edin.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="surname" class="form-label">Soyad</label>
                                            <div class="input-group has-validation">
                                                <input type="text" id="surname" class="form-control" placeholder="Soyadı daxil edin" required>
                                                <div class="invalid-feedback">
                                                    Zəhmət olmasa, soyadınızı daxil edin.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="father" class="form-label">Ata adı</label>
                                        <div class="input-group has-validation">
                                            <input type="text" id="father" class="form-control" placeholder="Ata adı daxil edin" required>
                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, ata adınızı daxil edin.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="fin" class="form-label">FİN</label>
                                        <div class="input-group has-validation">
                                            <input type="text" id="fin" class="form-control" autocomplete="off" placeholder="FİN daxil edin" required>
                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, FİN daxil edin.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="bDate" class="form-label">Doğum tarixi</label>
                                        <div class="input-group has-validation">
                                            <input type="date" id="bDate" class="form-control" placeholder="B Date daxil edin" required>
                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, doğum tarixinizi daxil edin.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mb-3 col-md-6">
                                        <label for="pwd" class="form-label">Şifrə</label>
                                        <div class="input-group has-validation">
                                            <input type="password" id="pwd" class="form-control" autocomplete="off" placeholder="Şifrəni daxil edin" required>

                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>

                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, şifrənizi daxil edin.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input type="checkbox" style="cursor:pointer;" class="form-check-input" id="specialistCheckbox">
                                            <label class="form-check-label" style="cursor:pointer;" for="specialistCheckbox">Peşəkar</label>
                                        </div>
                                    </div>

                                    @if (ViewBag.specialities != null)
                                    {
                                        <div class="mb-3 col-md-6" id="specialityContent" style="display:none;">
                                            <label for="specialityDropdown" class="form-label">İxtisas</label>
                                            <select class="form-control" id="specialityDropdown">
                                                <option value="">İxtisas seçin...</option>
                                                @{
                                                    foreach (var item in ViewBag.specialities)
                                                    {
                                                        <option value="@item.id">@item.name</option>
                                                    }
                                                }
                                            </select>
                                            <div class="invalid-feedback">
                                                Zəhmət olmasa, ixtisas seçin.
                                            </div>
                                        </div>
                                    }

                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="button" onclick="signUp(event)"> Növbəti </button>
                                </div>
                            </form>
                        </div> <!-- end card-body -->

                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            @{
                                var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
                            }
                            <p class="text-muted">
                                @if (controllerName == "Registration")
                                {
                                    @:Hesabınız var? <a href="@Url.Action("Index", "Login")" class="text-muted ms-1"><b>Daxil olun</b></a>
                                }
                                else if (controllerName == "Recovery")
                                {
                                    @:Hesabınız yoxdur? <a href="@Url.Action("Index", "Registration")" class="text-muted ms-1"><b>Qeydiyyat</b></a>
                                }
                                else
                                {
                                    @:Hesabınız yoxdur? <a href="@Url.Action("Index", "Registration")" class="text-muted ms-1"><b>Qeydiyyat</b></a>
                                }
                            </p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    @*<div class="mb-3 col-md-6">
            <label for="organizationName" class="form-label">İşlədiyiniz müəssisə</label>
            <div class="input-group has-validation">
                <input type="text" id="organizationName" class="form-control" placeholder="Daxil edin" required>
                <div class="invalid-feedback">
                    Zəhmət olmasa, işlədiyiniz müəssisəni daxil edin.
                </div>
            </div>
        </div>*@

    <footer class="footer footer-alt">
        2021 -
        <script>document.write(new Date().getFullYear())</script> © Flexit - Medicloud.az
    </footer>





    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="~/js/router.js"></script>
</body>
</html>

<script>

    function changePicture(event) {
        event.preventDefault();
        $('#profilePicture').click();
        //document.getElementById("profileImage").src = '/res/user.svg';
    }

    $('#profilePicture').on('change', function (event) {
        previewProfilePicture(event)
    });
    function previewProfilePicture(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById("profileImage").src = e.target.result;
        }
        reader.readAsDataURL(file);
    }

    $('#specialistCheckbox').on('change', function () {
        //console.log('checked')
        if ($(this).is(':checked')) {
            $('#specialityContent').show();
            $('#specialityDropdown').prop('required',true);
        } else {
            $('#specialityContent').hide();
            $('#specialityDropdown').prop('required', false);

        }
    });

    async function signUp(event) {
         event.preventDefault();
    const form = $('#addUserForm')[0];

    if (form.checkValidity() === false) {
        event.stopPropagation();
        $('#addUserForm').addClass('was-validated');
        return;
    }

    // Get form field values
    const organizationName = $('#organizationName').val();
    const name = $('#name').val();
    const surname = $('#surname').val();
    const father = $('#father').val();
    const specialityID = $('#specialityDropdown').val();
    const fin = $('#fin').val();
    const bDate = $('#bDate').val();
    const pwd = $('#pwd').val();
    const picture = $('#profilePicture')[0].files[0];  // Get the file from the input
    var btn = $("#nextButton");
    btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yüklənir...');

    // Prepare FormData
    const formData = new FormData();
    formData.append('organizationName', organizationName);
    formData.append('name', name);
    formData.append('surname', surname);
    formData.append('father', father);
    formData.append('specialityID', specialityID);
    formData.append('fin', fin);
    formData.append('bDate', bDate);
    formData.append('pwd', pwd);

    if (picture) {
        formData.append('profileImage', picture);  // Append the image file
    }

    console.log("Form data:", formData);

    try {
        $.ajax({
            url: '@Url.Action("AddUser","Registration")',
            method: 'POST',
            data: formData,
            processData: false,  // Don't process the data
            contentType: false,  // Don't set content type (FormData will handle it)
            success: function (result) {
                console.log('User added successfully:', result);
                window.location.href = "/Registration/Success";
                btn.prop('disabled', false).html('Növbəti');
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    var errorResult = xhr.responseJSON;
                    console.error('Error adding user:', errorResult);
                    $('#alert').text('İstifadəçi əlavə edilərkən xəta baş verdi: ' + (errorResult.message || xhr.statusText)).show();
                } else {
                    console.error('Error adding user:', xhr.statusText);
                    $('#alert').text('İstifadəçi əlavə edilərkən xəta baş verdi').show();
                }
                btn.prop('disabled', false).html('Növbəti');
            }
        });
    } catch (error) {
        console.error('Error:', error);
        $('#alert').text('Error adding user').show();
    }

    }



</script>
@section Scripts {
    <script>
        // Bootstrap validation
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        document.addEventListener('DOMContentLoaded', function () {




            @*$('#nextButton').on('click', function (event) {
                event.preventDefault();
                console.log('clicked')
                const picture = $('#profilePicture').val();

                if ($('#addUserForm')[0].checkValidity() === false) {
                    event.stopPropagation();
                    $('#addUserForm').addClass('was-validated');
                    return;
                }

                // Get form field values
                const organizationName = $('#organizationName').val();
                const name = $('#name').val();
                const surname = $('#surname').val();
                const father = $('#father').val();
                const specialityID = $('#specialityDropdown').val();
                const fin = $('#fin').val();
                const bDate = $('#bDate').val();
                const pwd = $('#pwd').val();
                var btn = $("#nextButton");
                btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Yüklənir...');

                // Prepare query parameters
                const params = new URLSearchParams({
                    organizationName: organizationName,
                    name: name,
                    surname: surname,
                    father: father,
                    specialityID: specialityID,
                    fin: fin,
                    bDate: bDate,
                    pwd: pwd,
                    profileImage: picture
                });

                console.log(params.toString())

                try {
                    $.ajax({
                        url: '@Url.Action("AddUser","Registration")',
                        method: 'POST',
                        data: params.toString(),
                        success: function (result) {
                            console.log('User added successfully:', result);
                            window.location.href = "/Registration/Success";
                            btn.prop('disabled', false).html('Növbəti');
                        },
                        error: function (xhr) {
                            if (xhr.status === 400) {
                                var errorResult = xhr.responseJSON;
                                console.error('Error adding user:', errorResult);
                                $('#alert').text('İstifadəçi əlavə edilərkən xəta baş verdi: ' + (errorResult.message || xhr.statusText)).show();
                            } else {
                                console.error('Error adding user:', xhr.statusText);
                                $('#alert').text('İstifadəçi əlavə edilərkən xəta baş verdi').show();
                            }
                            btn.prop('disabled', false).html('Növbəti');
                        }
                    });

                } catch (error) {
                    console.error('Error:', error);
                    $('#alert').text('Error adding user').show();
                }

            })*@
        })


        //$('#changeProfilePicture').on('click', function () {
        //    $('#profilePicture').click();
        //});





    </script>
}
