
@model Medicloud.Areas.Admin.Model.PersonalPageDTO

@{
    ViewData["Title"] = "- Personal";

    var currentUser = Model.personalList[0];
}
<style>
    .nav-pills .nav-link.active {
        border-radius: 2rem;
        background-color: #2AAEAD;
    }

    .nav-pills .nav-link {
        margin: 0.25rem !important;
        border-radius: 2rem;
        border: 1px solid #dee2e6 !important;
        color: #2AAEAD;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <form class="d-flex">
                    <button type="button" class="btn btn-primary" onclick=" $('#addPersonal').modal('show')">+ Əlavə et</button>

                </form>
            </div>
            <h4 class="page-title">Personal</h4>
        </div>
    </div>
</div>


@*<div class="jumbotron jumbotron-fluid">
        <div class="container">


        </div>
    </div>*@
<!--<div class="row m-3 ml-0 ">
    <div class="col-12 ">
        <div class="row">
            <div class="col-4">
                <div class="form-group border-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Personal tərifi</h2>

                        </div>
                    </div>
                </div>

            </div>

            <div class="co-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary " onclick=" $('#addPersonal').modal('show')">+ Əlavə et</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>-->
<!-- <div class="col-6 text-right ">     <button type="button" class="btn btn-dark " onclick=" $('#patientSearch').modal('show');">Axtar</button></div> -->
<!--</div>-->

<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header bg-transparent">
                Personal siyahısı
                <div class="form-group float-right">
                    <div class="row">
                        <div class="col-md-12">

                            <select class="form-control" required id="depIsActiveFilter" onchange="{
                                    $('.depTypesInBuildingItem.active').click();}">
                                <option value="1">Aktiv</option>
                                <option value="0">Deaktiv</option>

                            </select>

                        </div>



                    </div>
                </div>
            </div>
            <div class="card-header ">
                <div class="row">
                    <div class="col-6">Adı</div>
                    <div class="col-6 text-right">İxtisas</div>

                </div>

            </div>
            <div class="list-group list-group-flush" style="max-height: 50vh; overflow-y: auto" id="depTypesInBuilding">

                @*<div class="row">
                        <div class="col">
                            <div>Adı</div>
                            <div> </div>
                            <div> 2</div>
                            <div>3</div>
                        </div>
                        <div class="col">
                            <div>İxtisas</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>

                        <div class="col">
                            <div>Həkim</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                        </div>
                    </div>*@

                @{
                    foreach (var item in Model.personalList)

                    {
                        <div class="list-group-item list-group-item-action personal-list" onclick=' personalClicked(this, @Html.Raw(Json.Serialize(item)));'>

                            <div class="row">
                                <div class="col-6">@item.name @item.surname</div>
                                <div class="col-6 text-right">@item.speciality.name</div>
                                @*@foreach (var item2 in item.roles)
                                    {
                                        <h1>@item2.id</h1>
                                        <h1>@item2.name</h1>
                                    }*@
                            </div>

                        </div>
                        @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                    }




                }


            </div>
        </div>


    </div>
    <div class="col-md-9">

        <div class="card selectedDepCard">
            <div class="card-header bg-transparent">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="generalSettingsButton" onclick="settingsBoxClicked(1)">Ümumi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="positionSettingsButton" onclick="settingsBoxClicked(2)">Vəzifə yeri</a>
                    </li>

                </ul>
            </div>
            <div class="card-body bg-transparent">


                <div id="generalSettings">
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Əsas məlumatlar</a>
                        </li>
                        <li class="nav-item">
                        </li>

                    </ul>
                    <div class="row mb-3">
                        <div class="col-9 ">
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Registr kodu</label>
                                        <input type="text" class="form-control" id="reqCode" value="@currentUser.ID" placeholder="00000" aria-label="00000" disabled>

                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Ad</label>
                                        <input type="text" class="form-control" id="name" value="@currentUser.name" placeholder="-" aria-label="00000">

                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Soyad</label>
                                        <input type="text" class="form-control" id="surname" value="@currentUser.surname" placeholder="00000" aria-label="00000">

                                    </div>

                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">

                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Ata adı</label>
                                        <input type="text" class="form-control" id="father" value="@currentUser.father" placeholder="-" aria-label="00000">

                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">ŞV Seriyası</label>
                                        <input type="text" class="form-control" id="passportSerialNum" value="@currentUser.passportSerialNum" placeholder="-" aria-label="00000">

                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">ŞV FİN</label>
                                        <input type="text" class="form-control" id="passportFin" value="@currentUser.fin" placeholder="-" aria-label="00000">

                                    </div>



                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Doğum tarixi</label>
                                        <input type="date" class="form-control" id="bDate" value="@currentUser.passportSerialNum" placeholder="00000" aria-label="00000">

                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">İxtisas</label>

                                        <select class="form-control" id="speciality">
                                            @{
                                                foreach (var item in Model.specialityList)

                                                {
                                                    if (currentUser.speciality.id == item.id)
                                                    {
                                                        <option value="@item.id" selected data-foo="@item.id">@item.name</option>

                                                    }
                                                    else
                                                    {
                                                        <option value="@item.id" data-foo="@item.id">@item.name</option>

                                                    }

                                                    @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                                                }
                                            }


                                        </select>



                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlSelect1">Mobil nömrə</label>
                                        <input type="text" class="form-control" id="mobile" value="@currentUser.mobile" placeholder="00000" aria-label="00000">

                                    </div>


                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row ">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12" style="display:inline">
                                                    <label for="exampleFormControlSelect1">E-poçt ünvanı</label>
                                                    <input type="text" class="form-control" value="@currentUser.email" id="email" placeholder="e-poçt" aria-label="00000">


                                                </div>


                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12" style="display:inline">
                                                        <input class=" me-1 " type="checkbox" value="">
                                                        <label for="exampleFormControlSelect1">email göndər</label>


                                                    </div>


                                                </div>
                                            </div>*@
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <div class="form-group mb-3">
                                            <div class="row">
                                                <div class="col-md-12" style="display:inline">
                                                    <label for="exampleFormControlSelect1">İstifadəçi adı</label>
                                                    <input type="text" class="form-control" id="username" value="@currentUser.username" placeholder="Yoxdur" aria-label="00000">


                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-3 mb-2" style="display:inline">
                                        <input class=" me-1 " id="isActiveCheckBox" type="checkbox" @(currentUser.roles?.Count() > 0 ? "checked" : "") value="">
                                        <label for="exampleFormControlSelect1">Aktiv</label>


                                    </div>
                                    <div class="col-md-3 mb-2" style="display:inline">
                                        <input class=" me-1 " id="isDrCheckBox" type="checkbox" @(currentUser.roles.Select(r => r.id).Contains(4) ? "checked" : "") value="">
                                        <label for="exampleFormControlSelect1">Həkim</label>


                                    </div>
                                    <div class="col-md-3 mb-2" style="display:inline">
                                        <input class=" me-1 " id="isUserCheckBox" type="checkbox" @(currentUser.roles.Select(r => r.id).Contains(6) ? "checked" : "") value="">
                                        <label for="exampleFormControlSelect1">İstifadəçi</label>


                                    </div>
                                    @if (currentUser.roles.Select(r => r.id).Contains(2))
                                    {
                                        <div class="col-md-3" id="adminCheckbox" style="display:inline">
                                            <input class=" me-1 " id="isAdminCheckBox" type="checkbox" checked value="">
                                            <label for="exampleFormControlSelect1">Admin</label>
                                        </div>
                                    }


                                    <div class="col-md-3 mb-2" style="display:inline">
                                        <input class=" me-1 " id="isManagerCheckBox" type="checkbox" @(currentUser.roles.Select(r => r.id).Contains(3) ? "checked" : "") value="">
                                        <label for="exampleFormControlSelect1">İnzibatçı</label>
                                    </div>
                                    <div class="col-md-3 mb-2" style="display:inline">
                                        <input class=" me-1 " id="isCashierCheckBox" type="checkbox" @(currentUser.roles.Select(r => r.id).Contains(5) ? "checked" : "") value="">
                                        <label for="exampleFormControlSelect1">Kassir</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <img src="/res/user.svg" class="rounded mx-auto d-block img-fluid" style="width:120px; height:160px" alt="...">

                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <button type="button" class="form-control btn btn-dark" onclick="$('#passChangeModal').modal('show')">Yeni şifrə</button>


                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <button type="button" class="form-control btn text-info">Rəsmi imza</button>


                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group border-top">
                        <div class="row mt-3 ">



                            <div class="col-md-12 text-right mt-auto">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <button type="button" class="btn text-info" onclick="updateUser()">Yadda saxla</button>

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="positionSettings" style="display:none">
                    <ul class="nav nav-pills m-3 mb-4">
                        <li class="nav-item">
                            <a class="nav-link active" id="depTogle" onclick="KassaOrDepClicked(1)">Şöbələr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="kassaTogle" onclick="KassaOrDepClicked(2)">Kassa</a>
                        </li>

                    </ul>
                    @if (currentUser.roles.Select(r => r.id).Contains(2))
                    {


                        <div class="ml-3 mb-3">




                            <label>Müəssisə</label>
                            <div class="row">
                                <div class="col-4">

                                    <div class="dropdown">

                                        <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="userOrganizations" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu">
                                            <h6 class="dropdown-header">Əlavə olunmuş müəssisələr</h6>
                                            <div id="userOrganizationsMenu">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button type="button" class="btn btn-light" onclick="{$('#addOrganization').modal('show');}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD" />
                                        </svg> müəssisə əlavə et
                                    </button>
                                </div>
                            </div>




                        </div>
                    }
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light" id="userDepList">

                                <div class="card-header ">
                                    <div class="row justify-content-end">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-outline-dark float-right" onclick="{$('#addDepartment').modal('show');}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD" />
                                                </svg>
                                                Şöbə əlavə et
                                            </button>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-3">Şöbənin adı</div>
                                        <div class="col-2">Tipi</div>
                                        <div class="col-2">Gör</div>
                                        <div class="col-3">Tam kontrol</div>
                                        <div class="col-2 ">Sil</div>
                                    </div>



                                </div>
                                <div class="list-group list-group-flush" style="max-height: 30vh; overflow-y: auto" id="depsInOrganizationByUser">






                                </div>
                            </div>
                            <div class="card border-light" id="userKassaList" style="display:none">

                                <div class="card-header ">
                                    <div class="row justify-content-end">
                                        <div class="col-md-5">
                                            <button type="button" class="btn btn-outline-dark float-right" onclick="{$('#addKassa').modal('show');}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 13H13V15C13 15.55 12.55 16 12 16C11.45 16 11 15.55 11 15V13H9C8.45 13 8 12.55 8 12C8 11.45 8.45 11 9 11H11V9C11 8.45 11.45 8 12 8C12.55 8 13 8.45 13 9V11H15C15.55 11 16 11.45 16 12C16 12.55 15.55 13 15 13ZM12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2Z" fill="#2AAEAD" />
                                                </svg>
                                                Kassa əlavə et
                                            </button>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kassa adı</div>

                                        <div class="col-2">Gör</div>
                                        <div class="col-3">Tam kontrol</div>
                                        <div class="col-2 ">Sil</div>
                                    </div>



                                </div>
                                <div class="list-group list-group-flush" style="max-height: 30vh; overflow-y: auto" id="kassaInOrganizationByUser">






                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>



    </div>
    @*@Html.Partial("_PersonalSettingsBoxPartial")*@


</div>
<div class="modal fade" id="passChangeModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçi şifrəsinin sıfırlanması</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Yeni şifrə</label>
                                        <input class="form-control " placeholder="Şifrə..." id="newPwd" />


                                    </div>





                                </div>




                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center" onclick="updateUserPwd()">
                                            Yenilə
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addKassa" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçiyə kassa əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Kassalar</label>
                                        <select class="form-control dropdown" required id="kassaInOrganization">
                                        </select>

                                    </div>





                                </div>




                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="kassaReadOnlyCheckBox" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">Gör</label>


                                    </div>
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="kassaFullKontrolCheckBox" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">Tam kontrol</label>


                                    </div>



                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addKassaToUser()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addDepartment" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçiyə şöbənin əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Şöbələr</label>
                                        <select class="form-control dropdown" required id="depsInOrganization">
                                        </select>

                                    </div>





                                </div>




                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="depReadOnlyCheckBox" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">Gör</label>


                                    </div>
                                    <div class="col-md-12" style="display:inline">
                                        <input class=" me-1 " id="depFullControlCheckBox" type="checkbox" value="">
                                        <label for="exampleFormControlSelect1">Tam kontrol</label>


                                    </div>



                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addDepartmentToUser()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addOrganization" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/pencil.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h6>İstifadəçiyə müəssisə əlavə edilməsi</h6>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12">


                                        <label>Müəssisələr</label>
                                        <select class="form-control dropdown" required id="allOrganizations">
                                            @{foreach (var item in Model.organizationList)
                                                {
                                                    <option value="@item.id">@item.organizationName</option>
                                                }
                                            }
                                        </select>

                                    </div>





                                </div>




                            </div>

                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">


                                        <button type="button" class="btn btn-primary justify-content-center"
                                                onclick="addOrganizationToUser()">
                                            Əlavə et
                                        </button>


                                    </div>




                                </div>



                            </div>


                        </div>





                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addPersonal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="addPersonalForm" class="needs-validation container" novalidate>


                    <div class="row ">

                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="/res/user.svg" />

                                    </div>




                                </div>




                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <h3>Personal əlavə edilməsi</h3>

                                    </div>




                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row ">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserName"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Soyadı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserSurname"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group mb-3">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row ">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Ata adı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserFather"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Doğum tarixi</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="date" class="form-control" required id="newUserBDate"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group mb-3">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">ŞV seriyası</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserPassportSerialNo"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Fin No</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" required id="newUserFin"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group mb-3">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Mobil nömrə</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserMobile"
                                               placeholder="Daxil edin" required>
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>
                                    <div class="col-md-6">


                                        <label for="exampleFormControlSelect1">Elektron poçt ünvanı</label>
                                        <!-- <select class="form-control" id="departments">
                                        </select> -->

                                        <input type="text" class="form-control" id="newUserEmail"
                                               placeholder="Daxil edin">
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>


                                    </div>




                                </div>




                            </div>
                            <div class="form-group mb-3">
                                <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                <div class="row">

                                    <div class="col-md-6">

                                        <label>Vəzifə</label>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="rolesDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                Seçin
                                            </button>
                                            <ul class="dropdown-menu" id="rolesSelectDropdownMenu" aria-labelledby="rolesDropdownMenuButton">
                                                @*<li>
                                                        <label class="dropdown-item">
                                                            <input type="checkbox" value="2" class="form-check-input me-2">
                                                        </label>
                                                    </li>*@
                                                <li>
                                                    <label class="dropdown-item">
                                                        <input type="checkbox" value="3" class="form-check-input me-2"> İnzibatçı
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="dropdown-item">
                                                        <input type="checkbox" value="4" class="form-check-input me-2"> Həkim
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="dropdown-item">
                                                        <input type="checkbox" value="5" class="form-check-input me-2"> Kassir
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="dropdown-item">
                                                        <input type="checkbox" value="6" checked class="form-check-input me-2"> İstifadəçi
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-6 " id="newUserSpecialityContent" style="display:none;">


                                        <label>İxtisas</label>
                                        <div>
                                            <div class="dropdown">

                                                <button type="button" class="btn btn-outline-dark dropdown-toggle w-100" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="justify-content-end newUserSpeciality">Seçin...</span>
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    @{
                                                        foreach (var item in Model.specialityList)

                                                        {
                                                            <a class="dropdown-item" id="@item.id" onclick="{$('.newUserSpeciality').text('@item.name');$('.newUserSpeciality').attr('id','@item.id');}">@item.name</a>

                                                            @*<a class="list-group-item list-group-item-action personal-list" ></a>*@
                                                        }
                                                    }


                                                </div>
                                            </div>

                                        </div>


                                    </div>





                                </div>


                            </div>


                            <div class="container mt-5">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="px-3 search-box">
                                            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
                                        </div>
                                        <div id="checkboxes">
                                            <label class="dropdown-item">
                                                <input type="checkbox" value="Option 1"> Option 1
                                            </label>
                                            <label class="dropdown-item">
                                                <input type="checkbox" value="Option 2"> Option 2
                                            </label>
                                            <label class="dropdown-item">
                                                <input type="checkbox" value="Option 3"> Option 3
                                            </label>
                                            <label class="dropdown-item">
                                                <input type="checkbox" value="Option 4"> Option 4
                                            </label>
                                            <label class="dropdown-item">
                                                <input type="checkbox" value="Option 5"> Option 5
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="form-group border-bottom mb-3 pb-3">
                                        <div class="row ">


                                            <div class="col-md-6 ">
                                                <label>Həkim</label>
                                                <input class=" me-1 " id="isDr" type="checkbox" value="">


                                            </div>



                                        </div>
                                    </div>*@
                                <div class="form-group mb-3">
                                    <div class="row align-items-center ">

                                        <div class="col-md-12 ">
                                            <h3>İstifadəçi məlumatları</h3>

                                        </div>
                                        @*@if (Model.personalList[0].isAdmin)
                                            {
                                                <div class="col-md-2 ">
                                                    <label for="exampleFormControlSelect1">İstifadəçi</label>
                                                    <input class=" me-1 " id="isUser" type="checkbox" onclick="checkIsUserBox(this)" value="">
                                                </div>
                                                <div class="col-md-2 ">
                                                    <label for="exampleFormControlSelect1">Admin</label>
                                                    <input class=" me-1 " id="isAdmin" type="checkbox" value="">

                                                </div>
                                            }*@




                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                    <div class="row">

                                        <div class="col-md-6">


                                            <label for="exampleFormControlSelect1">İstifadəçi adı</label>
                                            <!-- <select class="form-control" id="departments">
                                            </select> -->

                                            <input type="text" class="form-control" id="newUserUsername"
                                                   placeholder="Daxil edin">
                                            <div class="valid-feedback">
                                                Əla!
                                            </div>
                                            <div class="invalid-feedback">
                                                Boşluğu doldurun.
                                            </div>


                                        </div>
                                        <div class="col-md-6">


                                            <label for="exampleFormControlSelect1">Şifrə</label>
                                            <!-- <select class="form-control" id="departments">
                                            </select> -->

                                            <input type="text" class="form-control" id="newUserPwd"
                                                   placeholder="Daxil edin" required>
                                            <div class="valid-feedback">
                                                Əla!
                                            </div>
                                            <div class="invalid-feedback">
                                                Boşluğu doldurun.
                                            </div>


                                        </div>




                                    </div>




                                </div>
                                <div class="form-group mb-3">
                                    <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                                    <div class="row">

                                        <div class="col-md-12 text-center">


                                            <button type="button" class="btn btn-primary justify-content-center"
                                                    onclick="addPersonal()">
                                                Əlavə et
                                            </button>


                                        </div>




                                    </div>



                                </div>

                            </div>





                        </div>



                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts
{

    <script>

        var selectedOrganization;

             var selectedPersonalID = @Model.personalList[0].ID;
        getOrganizationsByUser(selectedPersonalID);
        var newPersonalIsUser = 0;
        function checkIsUserBox(state) {
            if ($(state).is(':checked'))
            {
                $("#newUserUsername").prop('required', true);
                $("#newUserPwd").prop('required', true);
                newPersonalIsUser = 1;
            }
            else {
                newPersonalIsUser = 0;
                $("#newUserUsername").prop('required', false);
                $("#newUserPwd").prop('required', false);
            }

        }


        function updateUser() {
            var userSpecialityOption = $("#speciality").find('option:selected');
            var userSpecialityID = userSpecialityOption.data('foo');


           var userID =  $("#reqCode").val();



       var bDate = $("#bDate").val();

       //var specialityID = $("#speciality").val();
      var mobile =  $("#mobile").val();
            var email = $("#email").val();
            var username = $("#username").val();
           var name =   $("#name").val();
       var surname = $("#surname").val();
       var father = $("#father").val();
            var passportSerialNum = $("#passportSerialNum").val();
            var fin = $("#passportFin").val();
            var isActiveCheckBox = 0;
            var selectedValues = [];

            if ($("#isActiveCheckBox").prop('checked') == true) {
                isActiveCheckBox = 1;
            }

            var isDrCheckBox = 0;
            if ($("#isDrCheckBox").prop('checked') == true) {
                selectedValues.push(4)
            }

            var isUserCheckBox = 0;
            if ($("#isUserCheckBox").prop('checked') == true) {
                selectedValues.push(6)
            }
            var isAdminCheckBox = 0;
            if ($("#isAdminCheckBox").prop('checked') == true) {
                selectedValues.push(2)

            }
            if ($("#isManagerCheckBox").prop('checked') == true) {
                selectedValues.push(3)
            }
            if ($("#isCashierCheckBox").prop('checked') == true) {
                selectedValues.push(5)

            }



            $.post("@Url.Action("UpdateUser", "Personal", new { area = "Admin" })",
                { userID: userID, mobile: mobile, email: email, username: username, bDate: bDate, passportSerialNum: passportSerialNum, fin: fin, specialityID: userSpecialityID, name: name, surname: surname, father: father, isActive: isActiveCheckBox, roleIds: selectedValues }, function (data) {
                    if (data > 0) {

                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Məlumatlar yeniləndi');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Məlumatlar yenilənmədi');
                    }
            });
        }

        function updateUserPwd() {
            var userID = $("#reqCode").val();
            var pwd = $("#newPwd").val();


            $.post("@Url.Action("UpdateUserPwd", "Personal", new { area = "Admin" })",
                { userID: userID, pwd: pwd }, function (data) {
                    if (data > 0) {

                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şifrə sıfırlandı');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Məlumatlar yenilənmədi');
                    }
            });

        }




        function getOrganizationsByUser(personalID) {
         $.get(
                "@Url.Action("OrganizationsByUser", "Personal", new { area = "Admin" })",
            { personalID: selectedPersonalID },
            function (data) {
                if (data.length > 0) {
                    $("#userOrganizations").text(data[0].organizationName);
                    $("#userOrganizations").val(data[0].organizationID);
                     $("#userOrganizations").text(data[0].organizationName);
                    selectedOrganization = data[0].organizationID;
                    $("#userOrganizationsMenu").empty();

                    $.each(data, function () {

                        $("#userOrganizationsMenu").append($(`


                                            <div class="row m-1">
 <div class="col-9 ">
<a class="dropdown-item"  id=${this.id} onclick="{  $('#userOrganizations').text('${this.organizationName}').val('${this.organizationID}');getDepartmentsByOrganization(${this.organizationID});getKassaByOrganization();getUserKassaByOrganization();getUserDepsByOrganization(); }">
                                                ${this.organizationName}</a></div>
                                                <div class="col-3 "><button class='btn text-danger' onclick = 'removeOrganizationFromUser(${this.organizationID});'>Sil</button></div>
                                            </div>
                                        </div>

`));


                    });
                    getDepartmentsByOrganization($('#userOrganizations').val());
                    getUserDepsByOrganization()
                    getUserKassaByOrganization()
                    getKassaByOrganization()
                }
                else {

                     selectedOrganization = 0;
                    $("#userOrganizations").text("Əlavə edin");
                    $("#userOrganizationsMenu").empty();
                    $("#depsInOrganizationByUser").empty();

                    $("#depsInOrganizationByUser").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                }
            }

        );

              }

        function getDepartmentsByOrganization(organizationID) {
            $("#depsInOrganization").empty();
            $.get(
                "@Url.Action("DepartmentsByOrganization", "Personal", new { area = "Admin" })",
                { organizationID: organizationID },
                function (data) {
                    if (data.length > 0) {

                        $.each(data, function () {


                            $("#depsInOrganization").append($(`
    <option id='${this.id}'>${this.name} - ${this.type}</option>



`));




                        });
                    }


                });

        }
        function getKassaByOrganization() {

            $("#kassaInOrganization").empty();
            $.get(
                "@Url.Action("GetAllKassaByOrganization", "Personal", new { area = "Admin" })",
                { organizationID: $('#userOrganizations').val() },
                function (data) {
                    if (data.length > 0) {

                        $.each(data, function () {


                            $("#kassaInOrganization").append($(`
    <option id='${this.id}'>${this.name}</option>



`));




                        });
                    }


                });

        }

        function personalClicked(component, obj) {
            selectedPersonalID = obj.id;
            $('.personal-list').removeClass('active');
            $(component).addClass('active');
            $("#reqCode").val(obj.id);

            var today = new Date(obj.bDate).toISOString().split('T')[0];

            $("#bDate").val(today);

            $("#speciality").val(obj.speciality.id);
            $("#mobile").val(obj.mobile);
            $("#email").val(obj.email);
            $("#father").val(obj.father);
            $("#name").val(obj.name);
            $("#surname").val(obj.surname);
            $("#passportSerialNum").val(obj.passportSerialNum);
            $("#passportFin").val(obj.fin);
            $("#username").val(obj.username);

            var roles = obj.roles;
            var roleIds = roles.map(r => r.id);
            console.log(obj.speciality.id)
            console.log()
            if (roleIds && roleIds.length > 0) {
                $("#isActiveCheckBox").prop('checked', true);
            }
            else {
                $("#isActiveCheckBox").prop('checked', false);
            }

            updateCheckBoxStatus(2, "#isAdminCheckBox", roleIds)
            updateCheckBoxStatus(3, "#isManagerCheckBox", roleIds)
            updateCheckBoxStatus(4, "#isDrCheckBox", roleIds)
            updateCheckBoxStatus(6, "#isUserCheckBox", roleIds)
             getOrganizationsByUser(selectedPersonalID);

        }

        function updateCheckBoxStatus(statusId, checkboxId,statusList) {
            if (statusList.includes(statusId)) {
                $(checkboxId).prop('checked', true);


            }
            else {
                $(checkboxId).prop('checked', false);
            }
        }


        function getUserDepsByOrganization() {
            $("#depsInOrganizationByUser").empty();
            var depsByOrganization;
            var userDeps;
            $.get(
                "@Url.Action("GetDepartmentsByUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val() },
                function (data) {

                    if (data.length > 0) {
                        userDeps = data;

                        $.get(
                            "/Admin/Personal/DepartmentsByOrganization",
                            { organizationID: $("#userOrganizations").val() },
                            function (data) {
                                if (data.length > 0) {

                                    var depsByOrganization = data;

                                    for (let a = 0; a < userDeps.length; a++) {
                                        for (let i = 0; i < depsByOrganization.length; i++) {
                                            if (depsByOrganization[i].id == userDeps[a].depID) {

                                                var readOnlyCheckBox;

                                                if (userDeps[a].readOnly > 0) {
                                                    readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" checked onclick="return false">'
                                                }
                                                else {
                                                    readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" onclick="return false">'
                                                }


                                                var fullAccessCheckBox;

                                                if (userDeps[a].fullAccess > 0) {
                                                    fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" checked onclick="return false">'
                                                }
                                                else {
                                                    fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" onclick="return false">'
                                                }




                                                $("#depsInOrganizationByUser").append($(`

<div class="list-group-item list-group-item-action dep-list" id=${depsByOrganization[i].id} >

                            <div class="row">
                                <div class="col-3">${depsByOrganization[i].name}</div>
                                <div class="col-2">${depsByOrganization[i].type}</div>
                                <div class="col-2 ">

    ${readOnlyCheckBox}
                                </div>
<div class="col-3 ">
${fullAccessCheckBox}
                            </div>
<div class="col-2">
<a class=' text-danger' onclick = 'removeDepFromUser(${depsByOrganization[i].id});'>Sil</a>
                            </div>

                        </div>


`));

                                            }
                                        }
                                    }

                                }

                                else {
                                    $("#depsInOrganizationByUser").empty();

                                    $("#depsInOrganizationByUser").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                                }
                            });

                    }
                    else {
                        $("#depsInOrganizationByUser").empty();

                        $("#depsInOrganizationByUser").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                    }

                });



        }



        function personalListClick(obj) {
            $('.personal-list').removeClass('active');
            $(obj).addClass('active');
        }
        function getUserKassaByOrganization() {
            $("#kassaInOrganizationByUser").empty();
            var depsByOrganization;
            var userDeps;

            $.get(
                "@Url.Action("GetUserKassaByOrganization", "Personal", new { area = "Admin" })",
                { organizationID: $("#userOrganizations").val(), userID: $("#reqCode").val() },
                function (data) {
                    if (data.length > 0) {

                        $.each(data, function () {
                            var readOnlyCheckBox;

                            if (this.readOnly > 0) {
                                readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" checked onclick="return false">'
                            }
                            else {
                                readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" onclick="return false">'
                            }


                            var fullAccessCheckBox;

                            if (this.fullAccess > 0) {
                                fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" checked onclick="return false">'
                            }
                            else {
                                fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" onclick="return false">'
                            }

                            $("#kassaInOrganizationByUser").append($(`

<div class="list-group-item list-group-item-action kassa-list" id='${this.id}' >

                            <div class="row">
                                <div class="col-5">${this.name}</div>
<div class="col-2">
${readOnlyCheckBox}
                            </div>
<div class="col-3">
${fullAccessCheckBox}
                            </div>

<div class="col-2">
<a class=' text-danger' onclick = 'removeKassaFromUser(${this.kassaID});'>Sil</a>
                            </div>

                        </div>


`));

                        });


                                    //var readOnlyCheckBox;

                                    //if (userDeps[a].readOnly > 0) {
                                    //    readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" checked>'
                                    //}
                                    //else {
                                    //    readOnlyCheckBox = '<input class=" me-1 " type="checkbox" value="" >'
                                    //}


                                    //var fullAccessCheckBox;

                                    //if (userDeps[a].fullAccess > 0) {
                                    //    fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" checked>'
                                    //}
                                    //else {
                                    //    fullAccessCheckBox = '<input class=" me-1 " type="checkbox" value="" >'
                                    //}










                    }

                    else {
                        $("#kassaInOrganizationByUser").empty();

                        $("#kassaInOrganizationByUser").append($(`<div class='text-center m-3'><img style='height:100px' src="/res/empty.png"/><br><h2 class='mt-3'>Boşdur</h2></div>`))

                    }
                });



        }


        function settingsBoxClicked(box) {
            switch (box) {
                case 1:
                    $('#positionSettings').hide();
                    $('#generalSettings').show()
                    $("#generalSettingsButton").addClass("active")
                    $("#positionSettingsButton").removeClass("active")
                    break;

                case 2:
                    $('#generalSettings').hide();
                    $('#positionSettings').show();
                    $("#positionSettingsButton").addClass("active")
                    $("#generalSettingsButton").removeClass("active")
                    break;
            }
        }
        function KassaOrDepClicked(state) {
            switch (state) {
                case 1:
                    $('#userKassaList').hide();
                    $('#userDepList').show()
                    $("#depTogle").addClass("active")
                    $("#kassaTogle").removeClass("active")
                    break;

                case 2:
                    $('#userKassaList').show()
                    $('#userDepList').hide();
                    $('#positionSettings').show();
                    $("#kassaTogle").addClass("active")
                    $("#depTogle").removeClass("active")
                    break;
            }
        }



        $("#rolesSelectDropdownMenu").on('click', function (event) {
            event.stopPropagation();
        })

            $('#rolesSelectDropdownMenu input[type="checkbox"]').on('change', function () {
                var selectedValues = [];
                $('#rolesSelectDropdownMenu input[type="checkbox"]:checked').each(function () {
                    selectedValues.push($(this).val());



                });
                console.log('selected', selectedValues)
                // Seçilen seçenekleri güncelle
                if (selectedValues.includes('4')) {
                    $("#newUserSpecialityContent").show();

                }
                else {
                    $("#newUserSpecialityContent").hide();

                }
            });


        $('#addPersonal').on('hidden.bs.modal', function () {
            $form = $('#addPersonalForm');
            $form.removeClass('was-validated');
            $form[0].reset();
        });

        function addPersonal() {

            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {


                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    //alert('sucess');
                }
                //else {
                //    form.reportValidity()
                //    //alert('asas');
                //}
                form.classList.add('was-validated');


            });

            if (forms[0].checkValidity()) {
                var newUserIsDr = 0;
                var admin = 0
                if ($("#isDr").is(':checked')) {
                    newUserIsDr = 1;
                }
                if ($("#admin").is(':checked')) {
                    admin = 1;
                }

                var name = $('#newUserName').val();
                var surname = $('#newUserSurname').val();
                var father = $('#newUserFather').val();
                var phone = $('#newUserMobile').val();
                var email = $('#newUserEmail').val();
                var bDate = $('#newUserBDate').val()
                var fin = $("#newUserFin").val();
                var passportSerialNo = $("#newUserPassportSerialNo").val();
                var username = $("#newUserUsername").val();
                var password = $("#newUserPwd").val();
                var specialityID = $('.newUserSpeciality').attr('id')
                var roleIds = [];
                $('#rolesSelectDropdownMenu input[type="checkbox"]:checked').each(function () {
                    roleIds.push($(this).val());



                });
                //var date = new Date(bDate);
                //var isoBdate = date.toISOString()

                $('#systemModal').modal('show');
                $('#systemModalTitle').text("Yüklənir...");
                $('#systemModalText').html(`<center><div class="spinner-border text-dark mx-auto" role="status">
    // <span class="sr-only">Loading...</span>
  </div></center>`);
                $('#systemModalBtn').attr("hidden", "");

                $.ajax({

                    type: "POST",
                    url: "@Url.Action("Add", "Personal", new { area = "Admin" })",
                    data: {
                        "name": name,
                        "surname": surname,
                        "father": father,
                        "specialityID": specialityID,
                        "passportSerialNum": passportSerialNo,
                        "fin": fin,
                        "phone": phone,
                        "email": email,
                        "username": username,
                        "pwd": password,
                        "bDate": bDate,
                        "roleIds": roleIds
                    },
                    success: function (data, status, xhr) {   // success callback function
                        //  var json = JSON.stringify(data)

                        if (data > 0) {
                            $('#systemModal').modal('hide')
                            $('#warningModal').modal('show')
                            $('#warningText').text('Personal əlavə olundu!');
                        }
                        else {
                            $('#systemModal').modal('hide')
                            $('#warningModal').modal('show')
                            $('#warningText').text('Personal artıq mövcuddur!');
                        }




                    },
                    error: function (jqXhr, textStatus, errorMessage) {

                        //alert(jqXhr.status)// error callback

                        if (jqXhr.status == 401) {

                            $('#systemModalTitle').text("Sessiyanız başa çatıb");
                            $('#systemModalText').html(`<p id="systemModalText">Zəhmət olmasa yenidən giriş edin</p>`);
                            $('#systemModalBtn').removeAttr("hidden");
                        }
                        else {
                            $('#systemModal').modal('hide');
                            $('#warningModal').modal('show')
                            $('#warningText').text('Xəta, biraz sonra yenidən cəhd edin');
                            //  $('#alert').text('Error: ' + errorMessage);
                        }
                    }

                });
                // alert(`
                // cfn: `+clientFullName+`
                // cp: `+clientPhone+`
                // kvm: `+kvm+`
                // price: `+price+`
                // payment: `+payment+`
                // note: `+note+`
                // productModel: `+productModel+`
                // productEndDate: `+isoEndDate+`
                //
                //   `)

            }
        }
        function addOrganizationToUser() {


            $.post(
                "@Url.Action("AddOrganizationToUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), organizationID: $("#allOrganizations").val() },
                function (data) {
                    if (data > 0) {
                          getOrganizationsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə əlavə olundu!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə artıq əlavə olunub!');
                    }
                }

            );

        }
        function removeOrganizationFromUser(organizationID) {


            $.post(
                "@Url.Action("RemoveOrganizationFromUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), organizationID:  organizationID },
                function (data) {
                    if (data > 0) {
                        getOrganizationsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə silindi!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Müəssisə silinmədi!');
                    }
                }

            );

        }
        function addDepartmentToUser() {
            //alert($("#depReadOnlyCheckBox").is(":checked"))
var id = $("#depsInOrganization").find('option:selected').attr('id');
            $.post(
                "@Url.Action("AddDepToUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), depID: id, read_only: $("#depReadOnlyCheckBox").is(":checked"), full_access: $("#depFullControlCheckBox").is(":checked")},
                function (data) {
                    if (data > 0) {
                          getOrganizationsByUser($('#reqCode').val())
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə əlavə olundu!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə artıq əlavə olunub!');
                    }
                }

            );

         }
        function removeDepFromUser(userDepID) {


            $.post(
                "@Url.Action("RemoveDepFromUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), depID: userDepID },
                function (data) {
                    if (data > 0) {
                        getUserDepsByOrganization();
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə silindi!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Şöbə silinmədi!');
                    }
                }

            );

        }



        function addKassaToUser() {
            var id = $("#kassaInOrganization").find('option:selected').attr('id');
            $.post(
                "@Url.Action("AddKassaToUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), kassaId: id, read_only: $("#kassaReadOnlyCheckBox").is(":checked"), full_access: $("#kassaFullControlCheckBox").is(":checked") },
                function (data) {
                    if (data > 0) {
                        getUserKassaByOrganization()
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Kassa əlavə olundu!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Kassa artıq əlavə olunub!');
                    }
                }

            );

        }
        function removeKassaFromUser(kassaID) {


            $.post(
                "@Url.Action("RemoveKassaFromUser", "Personal", new { area = "Admin" })",
                { userID: $("#reqCode").val(), kassaId: kassaID },
                function (data) {
                    if (data > 0) {
                        getUserKassaByOrganization();
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Kassa silindi!');
                    }
                    else {
                        $('#systemModal').modal('hide')
                        $('#warningModal').modal('show')
                        $('#warningText').text('Kassa silinmədi!');
                    }
                }

            );

        }

    </script>

    @*<script src="~/js/admin/departments/adminDep.js" asp-append-version="true"></script>*@
}