@model KassaDTO;

@if (string.IsNullOrEmpty(ViewBag.warningText))
{
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        @await Component.InvokeAsync("KassaSelector")
                    </form>
                </div>
                <h4 class="page-title">Ödənilmiş qəbzlərin siyahısı 📄</h4>
            </div>
        </div>
    </div>



    <div class="card rounded-bottom-0 rounded-top-5 mb-0" style="background-image: linear-gradient(to right,#50C3BD,#7ADBA8);">
        <div class="card-body">
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <h3 id="kassaSumText" class="mb-0" style="color:white;">Kassa qalığı: @Model.kassaSum AZN</h3>
                </div>
                @*<div class="col-3 d-flex justify-content-end align-items-center">
                    <a class="btn btn-light">Hesabdan çıxarış</a>
                </div>*@
            </div>
        </div>
    </div>

    <div class="card rounded-top-0 rounded-bottom-5 mt-0">
        <div class="card-body">
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Xəstə Adı</th>
                                    <th scope="col">Tarix</th>
                                    <th scope="col">Qəbz nömrəsi</th>
                                    <th scope="col">Məbləğ</th>
                                    <th scope="col">Ödəniş növü</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.recipeList)
                                {
                                    <tr>
                                        <td>@item.patientFullName</td>
                                        <td>@item.cdate</td>
                                        <td>@item.id</td>
                                        <td>@item.price AZN</td>
                                        <td>@item.pTypeName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <center>
        <h1>@ViewBag.warningText</h1>
    </center>
}
