<div class="px-3">
    <div class="col-md-8 row">

        <div class="d-flex justify-content-between px-0 mb-2">
            <div class="d-flex align-items-center">
                <a class="btn btn-sm ps-0" asp-action="Index" asp-controller="Settings" asp-area="Business">
                    <svg width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#737373">
                        <path fill="#737373" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                        <path fill="#737373" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
                    </svg>
                </a>
                <h2 class="ms-2 text-muted">Biznes detalları</h2>
            </div>
            @*<div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                    <h6 style="color: #6F7482" class="m-0" id="managerName"></h6>
                    <button type="button" id="cancelButton" class="btn border r-2">Ləğv et</button>
                    <button class="btn btn-primary">Yadda saxla</button>
                </div>*@
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="card rounded" onclick="window.location.href='@Url.Action("Info","Profile")'">
                    <div class="card-body">
                        <h5>Biznes adı & məlumatları </h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Müştərilərinizə biznesiniz haqqında məlumat verin, əlaqə məlumatlarınızı qeyd edin və sosial media hesablarınıza keçid verin.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card rounded" onclick="window.location.href='@Url.Action("ProfileImages","Profile")'">
                    <div class="card-body">
                        <h5>Profil şəkilləri </h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Loqonuzu əlavə edin, iş yerinizin şəkillərini yükləyin və başlıq şəklinizi seçin.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card rounded">
                    <div class="card-body " onclick="window.location.href='@Url.Action("Category","Settings")'">
                        <h5>Biznes kateqoriyaları </h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Biznes kateqoriyanızı seçin ki, profilinizi doğru insanlara təqdim edə bilək.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card rounded" onclick="window.location.href='@Url.Action("WorkHours","Settings")'">
                    <div class="card-body bg-white">
                        <h5>İş saatları</h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Müştərilərinizə görüşlər üçün nə zaman əlçatan olduğunuzu bildirin.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card rounded" onclick="window.location.href='@Url.Action("VenueAndLocation","Settings")'">
                    <div class="card-body bg-white">
                        <h5>Məkan & Mobil Xidmətlər</h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Müştərilərinizə harada işlədiyinizi və xidmətləri yolda təqdim edib-etmədiyinizi bildirin.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card rounded" onclick="window.location.href='@Url.Action("Amenities","Settings")'">
                    <div class="card-body bg-white">
                        <h5>Məkan xüsusiyyətləri</h5>
                        <p class="mb-0 lh-sm text-muted" style="font-size:12px;">Müştərilərinizi işinizi fərqləndirən imkanlar haqqında məlumatlandırın.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>