@{
    ViewData["Title"] = "- Müayinələr";

}

@using Medicloud.Models.Domain;
@model List<dynamic>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">

                <a href="javascript:window.print()">
                    <button type="button" class="btn btn-primary w-md bg-blue-light radius-10"><i class="ri-printer-line"></i>Çap et</button>
                </a>

                <button type="button" class="btn btn-primary" onclick="showAddServiceModal()">
                    + Yeni xidmət
                </button>
            </div>
            <h2 class="page-title">Xidmətlər</h2>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-12">
        <div class="card  radius-15">

            <div class="card-body">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table style="border: 0px; width: 1183px;" id="datatable" class="table table table-striped table-borderless dt-responsive nowrap w-100 dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-muted" rowspan="1" colspan="1" style="width: 43px;">#</th>
                                        <th class="text-muted" rowspan="1" colspan="1" style="width: 160px;">Ad, Soyad</th>
                                        <th class="text-muted" rowspan="1" colspan="1" style="width: 199px;">Gün</th>
                                        <th class="text-muted" rowspan="1" colspan="1" style="width: 231px;">Xidmət/Prosedur</th>

                                        <th class="text-muted" rowspan="1" colspan="1" style="width: 160px;">(Həkim) Ad, Soyad</th>


                                        @*<th class="text-muted" rowspan="1" colspan="1" style="width: 175px;">Seçin</th>*@
                                    </tr>
                                </thead>
                                <tbody style="vertical-align:middle; font-weight:500;">
                                    @{ var rowNumber = 0;
                                        foreach (var item in Model)
                                        {
                                            rowNumber++;

                                            <tr class="service-row" data-service='@Html.Raw(Json.Serialize(item))'>
                                                <th class="text-muted dtr-control" tabindex="0">@rowNumber</th>
                                                <td>@item.patientName @item.patientSurname</td>
                                                <td>@item.cDate.ToString("dd.MM.yyyy")</td>


                                                <td>
                                                    @item.ServiceName
                                                </td>
                                                <td>
                                                    @item.DocName @item.DocSurname
                                                </td>

                                                @*<td style="float: right">
                                                        <a href="patient-edit.php?patient_id=61294"><button type="button" class="btn btn-light btn-sm edit-button" data-id="1"><i class="far fa-edit"></i></button></a>
                                                        <a href="javascript:void(0);" class="delete-link" data-patient-id="61294">
                                                            <button type="button" class="btn btn-light btn-sm delete-button">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </a>
                                                    </td>*@
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-12 col-md-7"></div></div>*@

                </div>
                <!--<div class="container mt-4" style="margin-right: 0">-->
                <!-- Pagination -->
                <!--</div>-->
            </div>
        </div>
    </div> <!-- end col -->
</div>

<div class="modal fade custom-modal" id="serviceModal" tabindex="-1" aria-labelledby="prescriptionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceFormModalLabel">Xidmət məlumatları</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="serviceForm" class="needs-validation">


                    <div class="form-group mb-3" >
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Xidmət</label>
                                <select class="form-control" required id="services" onchange="servicesChanged(this)">
                                    <option value="">Seçin...</option>
                                    @foreach (var service in ViewBag.services)
                                    {
                                        <option value="@service.ID">@service.name</option>

                                    }
                                </select>
                                <div class="valid-feedback">Əla!</div>
                                <div class="invalid-feedback">
                                    Seçim edin.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Qiymət (AZN)</label>
                                <input type="tel" class="form-control" required id="price" placeholder="Məbləğ" disabled>
                                <div class="valid-feedback">Əla!</div>
                                <div class="invalid-feedback">Boşluğu doldurun.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="d-flex justify-content-between">
                            <button type="button" id="addServiceBtn" class="btn btn-primary" onclick="addService()">Əlavə et</button>
                            <button type="button" id="removeServiceBtn" class="btn btn-danger" onclick="removeService()">Sil</button>
                            @*<button type="button" class="btn btn-info" onclick="loadAddServiceIntoPatientCardModal()">Xidmətlər</button>
                                <button type="button" class="btn btn-primary" onclick="generateRecipe()">Çek əldə et</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{


    <script>
        var selectedCardID;
        $('.service-row').on('click', function () {

            const service = $(this).data('service');
            selectedCardID = service.PatientCardID;

            $('#services').val(service.ServiceID);
         
            $("#price").val(service.ServicePrice);

            $('#addServiceBtn').hide()
            $('#removeServiceBtn').show()
            $("#services").prop('disabled', true);
          

            $('#serviceModal').modal('show');
        });

        function showAddServiceModal() {

            $('#services').val("");

            $("#price").val("");
            $("#services").prop('disabled', false);
            $('#addServiceBtn').show()
            $('#removeServiceBtn').hide()

            $('#serviceModal').modal('show');
        }

    </script>

    <script>
      
       function servicesChanged(a) {
           //alert($(a).val())
           $("#price").val($(a).val());
       }

        function addService() {


            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            });
            if (forms[0].checkValidity()) {
                showLoading()
                $.ajax({
                    url: `@Url.Action("AddService", "Services")`,
                    type: 'POST',

                    data:{

                        cardID: selectedCardID,
                        serviceID: $('#services').val(),
                    },
                    success: function (response) {
                        console.log('Success:', response);
                        location.reload();

                        window.addEventListener('beforeunload', hideLoading);
                        // Handle the response from the server here
                    },
                    error: function (xhr, status, error) {
                        hideLoading();
                        console.error('Error:', error);
                        // Handle errors here
                    }
                });
            }

    }

       function removeService() {


            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            });
            if (forms[0].checkValidity()) {
                showLoading()
                $.ajax({
                    url: `@Url.Action("RemoveService", "Services")`,
                    type: 'POST',

                    data:{

                        cardID: selectedCardID,
                        serviceID: $('#services').val(),
                    },
                    success: function (response) {
                        console.log('Success:', response);
                        location.reload();

                        window.addEventListener('beforeunload', hideLoading);
                        // Handle the response from the server here
                    },
                    error: function (xhr, status, error) {
                        hideLoading();
                        console.error('Error:', error);
                        // Handle errors here
                    }
                });
            }

    }


    </script>
}