@model Medicloud.WebUI.Areas.Business.ViewModels.BusinessProfileVM
@{

}
<style>
    .bg-blue-purple-gradient {
        background: linear-gradient(to right, #7bb7ff, #d4f2ff); /* Pastel blue to pastel purple */
    }
</style>


<!-- Start Content-->
<div class="px-2">

    <div class="row">
        <div class="col-md-6">
            <div class="card rounded-4 position-relative" style="background-image: url('@Url.Content(Model.CoverSrc)');  background-size: cover; background-position:center;height:360px;width:100%;">
                <div class="rounded-4" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1);"></div>

                <div class="card-body d-flex flex-column pb-3 justify-content-between position-relative">
                    <div class="row align-items-center">
                        <div class="col-6 d-flex ">
                            <a href="@Url.Action("ProfileImages","Profile")" id="changeCoverPhoto" type="button" class="btn btn-light btn-sm ">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.99976 13.332H13.9997" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.9998 2.33218C11.265 2.06697 11.6247 1.91797 11.9998 1.91797C12.1855 1.91797 12.3694 1.95455 12.541 2.02562C12.7125 2.09669 12.8684 2.20086 12.9998 2.33218C13.1311 2.4635 13.2352 2.61941 13.3063 2.79099C13.3774 2.96257 13.414 3.14647 13.414 3.33218C13.414 3.5179 13.3774 3.7018 13.3063 3.87338C13.2352 4.04496 13.1311 4.20086 12.9998 4.33218L4.66642 12.6655L1.99976 13.3322L2.66642 10.6655L10.9998 2.33218Z" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>

                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="text-center me-2">
                                <button type="button" class="btn btn-light mr-2">
                                    <svg height="18" width="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" fill="none">
                                        <path fill="#5A6A85" fill-rule="evenodd" d="M3.415 10.242c-.067-.086-.13-.167-.186-.242a16.806 16.806 0 011.803-2.025C6.429 6.648 8.187 5.5 10 5.5c1.813 0 3.57 1.148 4.968 2.475A16.816 16.816 0 0116.771 10a16.9 16.9 0 01-1.803 2.025C13.57 13.352 11.813 14.5 10 14.5c-1.813 0-3.57-1.148-4.968-2.475a16.799 16.799 0 01-1.617-1.783zm15.423-.788L18 10l.838.546-.002.003-.003.004-.01.016-.037.054a17.123 17.123 0 01-.628.854 18.805 18.805 0 01-1.812 1.998C14.848 14.898 12.606 16.5 10 16.5s-4.848-1.602-6.346-3.025a18.806 18.806 0 01-2.44-2.852 6.01 6.01 0 01-.037-.054l-.01-.016-.003-.004-.001-.002c0-.001-.001-.001.837-.547l-.838-.546.002-.003.003-.004.01-.016a6.84 6.84 0 01.17-.245 18.804 18.804 0 012.308-2.66C5.151 5.1 7.394 3.499 10 3.499s4.848 1.602 6.346 3.025a18.803 18.803 0 012.44 2.852l.037.054.01.016.003.004.001.002zM18 10l.838-.546.355.546-.355.546L18 10zM1.162 9.454L2 10l-.838.546L.807 10l.355-.546zM9 10a1 1 0 112 0 1 1 0 01-2 0zm1-3a3 3 0 100 6 3 3 0 000-6z"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-light">
                                    <i class="mdi mdi-account-edit me-1"></i> Biznesini Paylaş
                                </button>
                            </div>


                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            @{
                                var imageSrc = "/place.jpg";
                                if (!string.IsNullOrEmpty(Model.LogoSrc))
                                {
                                    imageSrc = Model.LogoSrc;
                                }
                            }
                            <div class="position-relative">
                                <img src="@imageSrc" width="115" height="135" style="object-fit:cover;" alt="" class="rounded-circle img-thumbnail ">
                                <div class="bg-white align-items-center d-flex position-absolute rounded" style="bottom: -10px; left: 30%;">
                                    <span class="p-1">* N/A</span>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4 class="mt-1 mb-1 text-white">@Model.Name</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Portfel</h4>
                    <h6>
                        Daha çox
                        <svg width="14" height="14" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="1" fill-rule="evenodd" clip-rule="evenodd" d="M4.94754 6.0009L0.449735 1.46527C0.11683 1.12914 0.11683 0.587019 0.449734 0.250891C0.608361 0.0903187 0.824727 9.26364e-07 1.0504 9.165e-07C1.27607 9.06636e-07 1.49244 0.0903186 1.65107 0.250891L6.74953 5.39281C7.08349 5.72857 7.08349 6.27143 6.74953 6.60719L1.65128 11.7491C1.49244 11.9097 1.27607 12 1.0504 12C0.824728 12 0.608361 11.9097 0.449523 11.7491C0.116831 11.4129 0.116831 10.8708 0.449946 10.5347L4.94754 6.0009Z" fill="currentColor" fill-opacity="" />
                        </svg>
                    </h6>
                </div>
                <div class="mb-3">
                    <p>Bacarıqlarınızı nümayiş etdirmək və özünüzü digərlərindən fərqləndirmək üçün Portfelinizdən istifadə edin.</p>

                    <form method="post" enctype="multipart/form-data" asp-controller="Portfolio" asp-action="AddPortfolioPhoto" id="addPortfolioForm">

                        <div class="mt-sm-0 mt-3 text-sm-end">
                            <input type="file" id="portfolioPhoto" name="photo" accept="image/*" class="d-none">
                            <input type="hidden" id="" name="organizationId" value="@Model.Id">
                        </div>
                    </form>
                    <button id="addPortfolioBtn" class="btn border">
                        + Əlavə et
                    </button>
                </div>
                @if (Model.portfolios != null)
                {
                    <div class="row" onclick="window.location.href='@Url.Action("Index","Portfolio")'">
                        @foreach (var item in Model.portfolios)
                        {
                            <div class="col-4 mb-3">
                                @*<h1>@item.file.fileName</h1>*@
                                <img src="@item.file.Src" data-src="@item.file.Src" style="object-fit:cover; height:120px; cursor:pointer;" data-item-id="@item.id" alt="" class="img-fluid w-100 cursor-pointer img-item multiple">

                            </div>

                        }
                    </div>
                }


            </div>
        </div> <!-- end col-->
    </div>
    <!-- end row -->
    <!-- end row -->

</div> <!-- container -->


@await Component.InvokeAsync("PhotoSave")




@section Scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <!-- Cropper.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="~/js/photoSave.js"></script>
    <script>

        $('#addPortfolioBtn').on('click', function () {
            $('#portfolioPhoto').click();
        });

        createFileUploadInstance('portfolioPhoto', 'addPortfolioForm', 'portfolioPhoto');



        $('#coverPhoto').on('change', function () {
            $('#coverPhotoForm').submit();
        });

        $('#coverPhotoForm').submit(function (e) {
            showLoading();
        });
        $('#changeLogoPhoto').on('click', function () {
            $('#logoPhoto').click();
        });

        $('#logoPhoto').on('change', function () {
            $('#logoPhotoForm').submit();
        });

        $('#logoPhotoForm').submit(function (e) {
            showLoading();
        });
    </script>


}

@*<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceModalLabel">Xidmətin yenilənməsi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form id="updateServiceForm">
                        <div class="form-group mb-3">
                            <label for="serviceName">Xidmətin adı</label>
                            <input type="text" class="form-control" id="selectedServiceName" name="name" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="servicePrice">Qiymət</label>
                            <input type="number" step="0.01" class="form-control" id="selectedServicePrice" name="price" placeholder="">
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary col-5" id="updateServiceBtn">Yenilə</button>
                            <button type="button" class="btn btn-danger col-5" id="deleteServiceBtn">Sil</button>
                            <button type="button" class="btn btn-success col-5" id="addServiceBtn">Əlavə et</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceModalLabel">Məlumatların yenilənməsi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form id="updateUserForm">
                        <div class="form-group mb-3">
                            <label for="name">Adınız</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="surname">Soyadınız</label>
                            <input type="text" class="form-control" id="surname" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">Ata adı</label>
                            <input type="text" class="form-control" id="father" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">Elektron poçt</label>
                            <input type="text" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">Mobil nömrəniz</label>
                            <input type="text" class="form-control" id="mobile" placeholder="">
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-primary col-5">Yenilə</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@