@model Medicloud.WebUI.Areas.Business.ViewModels.BusinessProfileVM


<style>

    .file-upload {
        position: relative;
        border: 2px dashed #ced4da;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

        .file-upload input[type="file"] {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            top: 0;
            left: 0;
        }
</style>

<div class="container-fluid">
    <div class="d-flex align-items-center">
        @{
            string backUrl = ViewBag.BeforeUrl ?? "/Business/Profile/Index";
        }
        <a class="btn btn-sm ps-0" href="@backUrl">
            <svg width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#737373">
                <path fill="#737373" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                <path fill="#737373" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
            </svg>
        </a>
        <h2 class="ms-2 text-muted">Profil şəkilləri</h2>
    </div>

    <div class="row">
        <div class="col-md-8 row">
            <div class="col-md-5">
                <div class="d-flex card">
                    <div class="card-header pt-3 border-0 bg-white">
                        <h6 class="mb-0">Loqo</h6>
                        <span class="text-muted" style="font-size:12px;">Biznes loqonuzu yükləyin ki, o, Profilinizdə görünsün.</span>
                    </div>
                    <div class="card-body">
                        @{
                            var imageSrc = "/place.jpg";
                        }

                        <form method="post" class="text-center" enctype="multipart/form-data" asp-controller="Profile" asp-action="UpdateLogoPhoto" id="logoPhotoForm">
                            @if (Model.LogoId == 0)
                            {
                                <div class="d-flex justify-content-center">

                                    <div class="file-upload d-flex justify-content-center align-items-center px-4 py-3  rounded-pill" style="width:100px; border-style:dashed">
                                        <i class="ti ti-cloud-upload fs-8 mb-2"></i>
                                        <p class="mb-0">Loqo əlavə et</p>
                                        <input id="fileInput1" accept="image/*" type="file">
                                    </div>
                                </div>
                            }
                            else
                            {
                                imageSrc = Url.Action("GetImage", "File", new { id = Model.LogoId, area = "" }); ;
                                <div class="position-relative d-inline-block image-container">
                                    <div class="loading-spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;">
                                        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                                        </div>
                                    </div>
                                    <img src="@imageSrc" width="120" height="120" style="object-fit:cover;" alt="" class="rounded-circle img-item">
                                    <button type="button" class="btn btn-light btn-sm position-absolute" data-item-id="" style="bottom: 0; right: 0; border-radius: 50%;" id="changeLogoPhoto">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99976 13.332H13.9997" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M10.9998 2.33218C11.265 2.06697 11.6247 1.91797 11.9998 1.91797C12.1855 1.91797 12.3694 1.95455 12.541 2.02562C12.7125 2.09669 12.8684 2.20086 12.9998 2.33218C13.1311 2.4635 13.2352 2.61941 13.3063 2.79099C13.3774 2.96257 13.414 3.14647 13.414 3.33218C13.414 3.5179 13.3774 3.7018 13.3063 3.87338C13.2352 4.04496 13.1311 4.20086 12.9998 4.33218L4.66642 12.6655L1.99976 13.3322L2.66642 10.6655L10.9998 2.33218Z" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </button>
                                </div>
                                <input id="fileInput1" type="file" accept="image/*" class="d-none">

                            }


                            <input type="hidden" name="existingLogoId" value="@Model.LogoId" />
                            <input type="file" id="logoPhoto" name="logoPhoto" accept="image/*" class="d-none">
                            <input type="hidden" id="" name="organizationId" value="@Model.Id">
                        </form>
                    </div>

                </div>
                <div class="d-flex card">
                    <div class="card-header pt-3 border-0 bg-white">
                        <h6 class="mb-0">Örtuk şəkli</h6>
                        <p class="text-muted lh-sm mb-1 mt-2" style="font-size:12px;">Örtuk şəkliniz müştərilərinizin Profilinizdə gördüyü ilk şeydir. Onlara nə haqqında olduğunuzu başa düşmək üçün bir şəkil əlavə edin.</p>
                    </div>
                    <div class="card-body">
                        @{
                            var coverSrc = "/place.jpg";
                            if (Model.LogoId > 0)
                            {
                                coverSrc = Url.Action("GetImage", "File", new { id = Model.CoverId, area = "" }); ;
                            }
                        }


                        <form method="post" class="" enctype="multipart/form-data" asp-controller="Profile" asp-action="UpdateCoverPhoto" id="coverPhotoForm">
                            <input type="file" id="coverPhoto" name="coverPhoto" accept="image/*" class="d-none">
                            <input type="hidden" id="" name="organizationId" value="@Model.Id">

                            @if (Model.CoverId == 0)
                            {
                                <div class="file-upload d-flex justify-content-center align-items-center p-5 mb-3" style="border-style:dashed">

                                    <i class="ti ti-cloud-upload fs-8 mb-2"></i>
                                    <p class="mb-0 ms-2">Örtuk şəkli əlavə et</p>
                                    <input id="fileInput2" accept="image/*" type="file">
                                </div>

                            }
                            else
                            {

                                <div class="mt-sm-0 mt-3 text-sm-end position-relative image-container" style="min-height:200px;">
                                    <div class="loading-spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;">
                                        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                                        </div>
                                    </div>
                                    <img src="@Url.Action("GetImage", "File", new {area="", id=Model.CoverId})" data-title="Örtük şəkli" data-src="@Url.Action("GetImage", "File", new {area="", id=Model.CoverId})" style="object-fit:cover; cursor:pointer;" alt="" class="img-fluid img-item">
                                    <button id="changeCoverPhoto" type="button" class="btn btn-light btn-sm position-absolute rounded" style="top: 10px; right: 10px;">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99976 13.332H13.9997" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M10.9998 2.33218C11.265 2.06697 11.6247 1.91797 11.9998 1.91797C12.1855 1.91797 12.3694 1.95455 12.541 2.02562C12.7125 2.09669 12.8684 2.20086 12.9998 2.33218C13.1311 2.4635 13.2352 2.61941 13.3063 2.79099C13.3774 2.96257 13.414 3.14647 13.414 3.33218C13.414 3.5179 13.3774 3.7018 13.3063 3.87338C13.2352 4.04496 13.1311 4.20086 12.9998 4.33218L4.66642 12.6655L1.99976 13.3322L2.66642 10.6655L10.9998 2.33218Z" stroke="#667085" stroke-width="1.66678" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <input type="hidden" name="existingCoverId" value="@Model.CoverId" />
                                </div>
                                <input id="fileInput2" class="d-none" accept="image/*" type="file">

                            }

                        </form>
                    </div>

                </div>

            </div>
            <div class="col-md-7">
                <div class="d-flex card">
                    <div class="card-header pt-3 border-0 bg-white">
                        <h6 class="mb-0">İş yeri şəkilləri</h6>
                        <span class="text-muted" style="font-size:12px;">Müştərilərə hələ qapıdan içəri keçmədən əvvəl məkanınıza bir baxış təqdim edin.</span>
                    </div>
                    <div class="card-body">


                        @if (Model.WorkImages != null && Model.WorkImages.Count > 0)
                        {
                            <div class="row">

                                <form method="post" class="" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadWorkPhoto" id="uploadPhotoForm">

                                    <div class="mt-sm-0 mt-3 text-sm-end">
                                        <div class="file-upload d-flex justify-content-center align-items-center p-4 mb-3" style="border-style:dashed">
                                            <i class="ti ti-cloud-upload fs-8 mb-2"></i>
                                            <p class="mb-0 ms-2">Media əlavə et</p>
                                            <input id="fileInput3" accept="image/*" type="file">
                                        </div>
                                        <input type="file" id="uploadPhoto" name="workPhoto" accept="image/*" class="d-none">
                                        <input type="hidden" id="" name="organizationId" value="@Model.Id">
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                @foreach (var item in Model.WorkImages)
                                {
                                    <div class="col-4 mb-3">
                                        <div class="image-container" style="position: relative;">
                                            <div class="loading-spinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;">
                                                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                                                </div>
                                            </div>

                                            <img src="@Url.Action("GetImage", "File", new {area="", id=item.id})"
                                                 data-src="@Url.Action("GetImage", "File", new {area="", id=item.id})"
                                                 style="object-fit:cover; height:120px; cursor:pointer;"
                                                 data-item-id="@item.id" alt=""
                                                 class="img-fluid w-100 cursor-pointer img-item multiple">
                                        </div>
                                    </div>
                                }

                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-4">
                                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadWorkPhoto" id="uploadPhotoForm">

                                        <div class="mt-sm-0 mt-3 text-sm-end">
                                            <div class="file-upload d-flex justify-content-center align-items-center p-4 mb-3" style="border-style:dashed">
                                                <i class="ti ti-cloud-upload fs-8 mb-2"></i>
                                                <p class="mb-0 ms-2">Media əlavə et</p>
                                                <input id="fileInput3" accept="image/*" type="file">
                                            </div>
                                            <input type="file" id="uploadPhoto" name="workPhoto" accept="image/*" class="d-none">
                                            <input type="hidden" id="" name="organizationId" value="@Model.Id">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        }



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("PhotoSave")
@await Component.InvokeAsync("PhotoView")


<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex flex-column">
            @*<div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>*@
            <div class="modal-body  text-center">
                <div class="mb-3">
                    <button id="uploadButton" class="btn btn-primary w-100">Dəyiş</button>
                </div>
                <div class="mb-3">
                    <button id="deleteButton" class="btn btn-danger w-100">Sil</button>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-dark w-100" data-bs-dismiss="modal" aria-label="Close">Ləğv et</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <!-- Cropper.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="~/js/photoSave.js"></script>
    <script>

        $('#changeCoverPhoto').on('click', function () {
            $('#actionModal').data('type', 'cover');
            $('#uploadButton').text('Ortük şəklini dəyiş');
            $('#deleteButton').text('Ortük şəklini sil');
            $('#actionModal').modal('show');


        });

        $('img.img-item').each(function () {
            var $img = $(this);

            $img.on('load', function () {
                var $spinner = $img.closest('.image-container').find('.loading-spinner');
                $spinner.hide();
            });


            if ($img[0].complete) {
                $img.trigger('load');
            }
        });


        $('#changeLogoPhoto').on('click', function () {
            //$('#fileInput1').click();
            $('#actionModal').data('type', 'logo');
            $('#uploadButton').text('Loqonu dəyiş');
            $('#deleteButton').text('Loqonu sil');

            $('#actionModal').modal('show');
        });


        $('#deleteButton').on('click', function () {
            var action = $('#actionModal').data('type');
            if (action === 'logo') {
                $('#logoPhotoForm').submit();

            }
            else if (action === 'cover') {
                $('#coverPhotoForm').submit();

            }
        })
        $('#uploadButton').on('click', function () {
            var action = $('#actionModal').data('type');
            if (action === 'logo') {
                $('#fileInput1').click();
                $('#actionModal').modal('hide');


            }
            else if (action === 'cover') {
                $('#fileInput2').click();
                $('#actionModal').modal('hide');

            }
        })

        createFileUploadInstance('fileInput1', 'logoPhotoForm', 'logoPhoto');
        createFileUploadInstance('fileInput2', 'coverPhotoForm', 'coverPhoto');
        createFileUploadInstance('fileInput3', 'uploadPhotoForm', 'uploadPhoto');

        //var portfolioData = [];
        //$('.portfolio-item').each(function () {
        //    var itemId = $(this).attr('data-item-id');
        //    var description = $(this).attr('data-description');
        //    var imgSrc = $(this).find('img').attr('src');
        //    var comments = JSON.parse($(this).attr('data-comments'));

        //    portfolioData.push({
        //        itemId: itemId,
        //        imgSrc: imgSrc,
        //        comments: comments
        //    });

        //    var activeClass = portfolioData.length === 1 ? 'active' : '';
        //    var itemIdContent = itemId ? `data-item-id=${itemId}` : '';
        //    var descriptionContent = description ? `<div class="carousel-caption d-none d-md-inline text-white" style="background-color: rgba(0, 0, 0, 0.3);">
        //                              <span>${description}</span>
        //                          </div>` : '';


        //    $('#carouselExample .carousel-inner').append(
        //        `<div ${itemIdContent} class="carousel-item  ${activeClass}">
        //  <img src="${imgSrc}" class="d-block mx-auto mt-3 w-75" style="height:80vh;" alt="Image '${portfolioData.length}'" ' ${itemIdContent}>
        //  ${descriptionContent}
        //  </div>`
        //    );
        //});

        //$('.portfolio-item').on('click', function () {
        //    var clickedItemId = $(this).attr('data-item-id');

        //    var itemIndex = portfolioData.findIndex(function (item) {
        //        return item.itemId === clickedItemId;
        //    });


        //    $('#carouselExample').carousel('pause');

        //    $('#carouselExample .carousel-item').removeClass('active');
        //    $('#carouselExample .carousel-item').eq(itemIndex).addClass('active');

        //    var clickedItem = portfolioData[itemIndex];
        //    fetchComments(clickedItemId);

        //    $('#portfolioViewModal').modal('show');
        //});

        let imageData = [];

        $('.img-item').on('click', function () {

            if (!$(this).attr('data-src')) {
                return;
            }
            var selectedImages = [];
            var modalTitle = '';
            var totalImages = 0;
            let selectedId = $(this).attr('data-item-id');
            if ($(this).hasClass('multiple')) {

                $('.img-item.multiple').each(function () {
                    selectedImages.push({
                        src: $(this).attr('data-src'),
                        itemId: $(this).attr('data-item-id')
                    });
                });
                $('#coverBtn').show();


                $('#photoViewModal').data('type', 'workImage');
            } else {

                selectedImages.push({
                    src: $(this).attr('data-src'),
                    itemId: $(this).attr('data-item-id')
                });
                modalTitle = $(this).attr('data-title') || '';
                $('#coverBtn').hide();
                $('#photoViewModal').data('type', 'cover');
            }


            $('#carouselExample .carousel-inner').empty();
            selectedImages.forEach(function (image, index) {
                var activeClass = image.itemId == selectedId ? 'active' : '';
                var itemIdContent = image.itemId ? `data-item-id=${image.itemId}`:''
                $('#carouselExample .carousel-inner').append(
                    `<div class="carousel-item  ${activeClass}">
                      <img src="${image.src}" class="d-block mx-auto" style="height:80vh;" alt="Image${(index + 1)}" ${itemIdContent}>
                    </div>`
                );
            });

            if (selectedImages.length === 1) {
                $('#carouselExample .carousel-control-prev, #carouselExample .carousel-control-next').hide();
            } else {
                $('#carouselExample .carousel-control-prev, #carouselExample .carousel-control-next').show();
            }

            $('#photoViewModalLabel').text(modalTitle);


             $('#carouselExample').carousel('pause');

            var currentIndex = $('#carouselExample .carousel-item.active').index() + 1;
            $('#photoViewModalLabel').text(' ' + currentIndex + ' / ' + selectedImages.length);

            $('#photoViewModal').modal('show');



            $('#carouselExample').on('slid.bs.carousel', function () {
                var currentIndex = $('#carouselExample .carousel-item.active').index() + 1;
                $('#photoViewModalLabel').text(' ' + currentIndex + ' / ' + selectedImages.length);
            });
        });

        $('#deleteBtn').on('click', function () {
            var currentImage = $('#carouselExample .carousel-item.active img');
            var itemId = currentImage.data('item-id');
            if (itemId) {
                showLoading();
                $.ajax({
                    url: '@Url.Action("DeleteFile", "File", new {area=""})',
                    type: 'POST',
                    data: { fileId: itemId },
                    success: function () {
                        window.location.reload();

                    },
                    error: function (e) {
                        hideLoading();
                        console.log(e)

                    }
                });
            }
            else {
                $('#coverPhotoForm').submit();
            }
        });


        $('#coverBtn').on('click', function () {
            var currentImage = $('#carouselExample .carousel-item.active img');
            var itemId = currentImage.data('item-id');
            console.log(itemId);

            if (itemId) {
                showLoading();
                $.ajax({
                    url: '@Url.Action("UpdateCover", "Profile")',
                    type: 'POST',
                    data: { existFileId: itemId,organizationId:@Model.Id },
                    success: function () {
                        window.location.reload();

                    },
                    error: function (e) {
                        hideLoading();
                        console.log(e)

                    }
                });
            }

            //var imageData = currentImage.attr('src');
            //console.log(imageData);

            //var imageType = imageData.split(';')[0].split(':')[1];

            //// Convert the base64 image data to a Blob
            //var byteString = atob(imageData.split(',')[1]);
            //var arrayBuffer = new ArrayBuffer(byteString.length);
            //var uintArray = new Uint8Array(arrayBuffer);

            //for (var i = 0; i < byteString.length; i++) {
            //    uintArray[i] = byteString.charCodeAt(i);
            //}

            //// Create a Blob from the byte array with the appropriate MIME type
            //var blob = new Blob([arrayBuffer], { type: imageType });

            //// Create a new File object from the Blob
            //var file = new File([blob], "img." + imageType.split('/')[1], { type: imageType });

            //// Append the file to the 'logoPhoto' file input
            //var fileInput = $('#coverPhoto')[0];
            //var dataTransfer = new DataTransfer(); // Create a new DataTransfer object
            //dataTransfer.items.add(file);  // Add the file to the DataTransfer object
            //fileInput.files = dataTransfer.files; // Assign the files to the input

            //// Optionally, you can submit the form here if you want to submit it directly
            // $('#coverPhotoForm').submit(); // Uncomment if you want to submit the form automatically
        });
        // for multiple files

        //$('#fileInput').on('change', function (e) {
        //    console.log('Dosya inputu ile seçildi:', e.target);
        //    var inputFiles = e.target.files;
        //    console.log(inputFiles);


        //    var allFiles = new DataTransfer();


        //    if (window.droppedFiles) {
        //        for (let i = 0; i < window.droppedFiles.length; i++) {
        //            allFiles.items.add(window.droppedFiles[i]);
        //        }
        //    }

        //    for (let i = 0; i < inputFiles.length; i++) {
        //        allFiles.items.add(inputFiles[i]);
        //    }

        //    console.log(allFiles.files);
        //    window.droppedFiles = allFiles.files;
        //});

        //// Sürükle bırak ile dosyalar bırakıldığında
        //$('#fileInput').on('dragover', function (e) {
        //    e.preventDefault();
        //});

        //$('#fileInput').on('drop', function (e) {
        //    e.preventDefault();
        //    console.log('Sürükle ve bırak ile dosyalar alındı:', e.originalEvent);

        //    var droppedFiles = e.originalEvent.dataTransfer.files;
        //    console.log(droppedFiles);

        //    var allFiles = new DataTransfer();

        //    if (window.droppedFiles) {
        //        for (let i = 0; i < window.droppedFiles.length; i++) {
        //            allFiles.items.add(window.droppedFiles[i]);
        //        }
        //    }
        //    for (let i = 0; i < droppedFiles.length; i++) {
        //        allFiles.items.add(droppedFiles[i]);
        //    }

        //    console.log(allFiles.files);
        //    window.droppedFiles = allFiles.files;
        //});

        //var $image = $('#image');
        //var cropper;

        //// Resim Yükleme İşlemi
        //$('#imageInput').on('change', function (event) {
        //    var reader = new FileReader();
        //    reader.onload = function (event) {
        //        // Yüklenen resmin URL'sini ayarla
        //        $image.attr('src', event.target.result);

        //        // Eğer daha önce bir cropper varsa, onu kaldır
        //        if (cropper) {
        //            cropper.destroy();
        //        }

        //        // Yeni Cropper.js nesnesi oluştur
        //        cropper = new Cropper($image[0], {
        //            aspectRatio: 1, // Oranını belirleyin (1:1 kare)
        //            viewMode: 1,    // Görünüm modu
        //            autoCropArea: 0.65, // Otomatik kırpma alanı
        //            responsive: true,
        //            zoomable: true,
        //            rotatable: true
        //        });
        //    };

        //    reader.readAsDataURL(this.files[0]);
        //});


        //$('#cropButton').on('click', function () {
        //    var canvas;

        //    // Kırpılan resmin canvas'ını al
        //    if (cropper) {
        //        canvas = cropper.getCroppedCanvas();

        //        $('#croppedImage').attr('src', canvas.toDataURL());
        //    }
        //});

        //$('#resetButton').on('click', function () {
        //    if (cropper) {
        //        cropper.reset();
        //    }
        //});


        //$('#uploadButton').on('click', function () {
        //    var canvas = cropper.getCroppedCanvas();
        //    var imageData = canvas.toDataURL();

        //    $.ajax({
        //        url: '/Home/UploadCroppedImage',
        //        type: 'POST',
        //        data: {
        //            imageData: imageData
        //        },
        //        success: function (response) {
        //            console.log('Resim başarıyla yüklendi.');
        //        },
        //        error: function (error) {
        //            console.error('Resim yükleme başarısız oldu.', error);
        //        }
        //    });
        //});

    </script>


}