


@{
    string patientFullname = "";
    if (Model.PatientId > 0)
    {
        var firstItem = Model.PatientCards?.FirstOrDefault();
        patientFullname = firstItem != null ? $"{firstItem.name} {firstItem.surname}" : "";
        ViewData["Title"] = $"({patientFullname} - Növbələr)";

    }
    // Determine the title based on ViewBag.patientFullname
    //if (!string.IsNullOrEmpty(ViewBag.patientFullname))
    //{
    //    // Format the title and set it in ViewData
    //    ViewData["Title"] = $"({ViewBag.patientFullname} - Növbələr)";
    //}
    else
    {
        // Set the default title
        ViewData["Title"] = " - Növbələr";
    }
}


@model Medicloud.ViewModels.PrescriptionsViewModel
@*<div class="row">
        <div class="col-12">
            <div class="d-flex align-items-md-center flex-column flex-md-row justify-content-between my-2">
                <h2 class="">
                    @if (!string.IsNullOrEmpty(patientFullname))
                    {
                        @($"{patientFullname} - Növbələr")
                    }
                    else
                    {
                        @Html.Raw("Növbələr")
                    }
                </h2>
                <form asp-action="Index" asp-controller="Prescriptions">

                    <div class="d-flex align-items-md-center flex-column flex-md-row">


                        <div class="d-inline-flex align-items-center bg-white border me-2 rounded">
                            <input type="text" id="searchInput" class="form-control  border-0" name="search" value="@Model.SearchText" placeholder="Axtarın" style="">
                            <button type="submit" class="btn btn-sm btn-outline-light-gray mb-0" id="searchButton">
                                <img src="~/res/search.svg" />
                            </button>
                        </div>
                        <a href="javascript:window.print()">
                            <button type="button" class="btn btn-primary w-md bg-blue-light radius-10"><i class="ri-printer-line"></i>Çap et</button>
                        </a>




                    </div>
                </form>



            </div>
        </div>
    </div>*@


<div class="row d-flex align-items-center py-3">
    <div class="col-md-6">
        <h2 class="mt-0 mb-2 mb-md-0">
            @if (!string.IsNullOrEmpty(patientFullname))
            {
                @($"{patientFullname} - Növbələr")
            }
            else
            {
                @Html.Raw("Növbələr")
            }
        </h2>
    </div>

    <div class="col-md-6">
        <form asp-controller="Prescriptions" asp-action="Index" class="">
            <div class="row d-flex align-items-center justify-content-end">
                <div class="col-md-6">
                    <div class="input-group mb-2 mb-md-0">
                        <input type="text"
                               id="searchInput"
                               name="search"
                               value="@Model.SearchText"
                               class="form-control border-0"
                               placeholder="Axtarın" />
                        <button type="submit" class="btn btn-sm btn-info mb-0" id="searchButton">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z" fill="currentColor" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-primary w-100 bg-blue-light radius-10 mb-2 mb-md-0 py-1"
                            onclick="window.print()">
                        <i class="ri-printer-line"></i> Çap et
                    </button>
                </div>


                @*<div class="col-md-4">
                    @* <button type="reset" class="btn btn-primary w-md bg-blue radius-10" onclick=" $('#patientSearch').modal('show');">+ Yeni müayinə kartı</button> *@
                @*<button type="reset" class="btn btn-primary w-md bg-blue radius-10" onclick=" $('#patientSearch').modal('show');">+ Yeni xidmət</button>
                    <button type="reset" class="btn btn-primary w-md bg-blue radius-10" onclick=" $('#patientSearch').modal('show');">+ Yeni diagnoz</button>
                        </div>*@
            </div>
        </form>
    </div>

</div>

<div class="row ">
    <div class="col-12">
        <div class="card  rounded-4">

            <div class="card-body">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table style="border: 0px; width: 1183px;" id="datatable" class="table table table-striped table-borderless dt-responsive nowrap w-100 dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-muted">#</th>
                                        <th class="text-muted">Ad, Soyad</th>
                                        <th class="text-muted">Tarix</th>
                                        @*<th class="text-muted" >Kabinet</th>*@
                                        <th class="text-muted">Növbə nömrəsi</th>
                                        <th class="text-muted">Status</th>
                                        <th class="text-muted"></th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align:middle; font-weight:500;">
                                    @{
                                        var rowNumber = 0;
                                        foreach (var item in Model.PatientCards)
                                        {
                                            rowNumber++;

                                            <tr class="odd">
                                                <th class="text-muted dtr-control" tabindex="0">@rowNumber</th>
                                                <td>
                                                    @if (Model.isDoctor)
                                                    {
                                                        <a href="@Url.Action("Index", "Policlinic", new {id =item.patientCardID})">
                                                            @item.name @item.surname
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @item.name @item.surname
                                                    }

                                                </td>
                                                @*<td>@item.cDate.ToString("dd.MM.yyyy")</td>*@
                                                <td>
                                                    @{
                                                        string formatDate = "";
                                                        if (item.startDate != DateTime.MinValue)
                                                        {

                                                            var date = item.startDate.ToString("dd.MM.yyyy");
                                                            var startTime = item.startDate.ToString("HH:mm");
                                                            var endTime = item.endDate.ToString("HH:mm");
                                                            formatDate = $"{date} {startTime} - {endTime}";
                                                        }

                                                    }
                                                    @formatDate
                                                </td>

                                                @*<td>
                                                        <a href="@Url.Action("Index", "Policlinic", new {id =item.patientCardID})">
                                                            Bax
                                                        </a>
                                                    </td>*@
                                                <td>
                                                    <a href="@Url.Action("Index", "Services", new { area = "",cardId=$"{@item.patientCardID}"})">
                                                        № @item.patientCardID
                                                    </a>
                                                </td>
                                                <td>
                                                    @*<span class="badge @(item.finished == 1 ? "bg-info" : "bg-success")">
                                                            @(item.finished == 1 ? "Ödənilib və bağlanıb" : "Aktiv")
                                                        </span>*@
                                                    @{
                                                        string className = "";
                                                        string text = "";
                                                        if (item.finished == 1)
                                                        {
                                                            className = "bg-info";
                                                            text = "Ödənilib və bağlanıb";
                                                        }
                                                        else
                                                        {
                                                            if (item.isActive)
                                                            {
                                                                className = "bg-success";
                                                                text = "Aktiv";
                                                            }
                                                            else
                                                            {
                                                                className = "bg-danger";
                                                                text = "İmtina edilib";
                                                            }
                                                        }
                                                    }
                                                    <span class="badge @className">
                                                        @text
                                                    </span>

                                                </td>
                                                <td>
                                                    @*<button class="btn btn-sm edit-anamnesis btn-primary me-1" data-item-id="@item.id">Dəyiş</button>*@
                                                    @if (item.finished != 1 && item.isActive)
                                                    {
                                                        <button class="btn btn-sm remove-card btn-danger" data-item-id="@item.patientCardID">İmtina</button>
                                                    }

                                                </td>

                                                @*<td style="float: right">
                                                    <a href="patient-edit.php?patient_id=61294"><button type="button" class="btn btn-light btn-sm edit-button" data-id="1"><i class="far fa-edit"></i></button></a>
                                                    <a href="javascript:void(0);" class="delete-link" data-patient-id="61294">
                                                    <button type="button" class="btn btn-light btn-sm delete-button">
                                                    <i class="far fa-trash-alt"></i>
                                                    </button>
                                                    </a>
                                                    </td>*@
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-12 col-md-7"></div></div>*@

                </div>
                <!--<div class="container mt-4" style="margin-right: 0">-->
                <!-- Pagination -->
                <!--</div>-->
            </div>
        </div>
    </div> <!-- end col -->
</div>

@*@await Component.InvokeAsync("PrescriptionModal")
    @await Component.InvokeAsync("SearchPatient")*@

@section Scripts {

    <script>

        var $requestTypeDropdown = $("#requestType");
        var $servicesDropdown = $("#services");
        var $policlinicDropdown = $("#departments");
        var $doctorDropdown = $("#doctors");
        var $refererDropdown = $("#referer");
        var $companiesDropdown = $("#companies");
        var $patientCardsDropdown = $("#patientCardSelector");
        var $newPatientContainer = $("#newPatientContainer");
        var $createCard = $("#createCard");
        var $note = $("#note");
        var selectedPatientCardID = 0;
        var selectedPatientID = 0;

        function foundPatientClicked(item) {
            $('#patientSearch').modal('hide');
            $('#prescriptionModal').modal('show');
            selectedPatientID = item.id;
            populatePatientCards(selectedPatientID);
            $("#selectedPatientForm").show()
            $("#name").prop("disabled", true);
            $("#surname").prop("disabled", true);
            $("#father").prop("disabled", true);

            $("#clientPhone").prop("disabled", true);
            $("#fin").prop("disabled", true);



            $("#bDate").prop("disabled", true);
            $(`#gender`).prop("disabled", true);


            $("#patientFullName").val(`${item.name} ${item.surname} ${item.father}`);

            var lastNine = item.phone.toString().slice(-9);
            $("#clientPhone").val(lastNine);
            $("#fin").val(item.fin);

            var today = new Date(item.bDate).toISOString().split('T')[0];

            $("#bDate").val(today);
            $(`#gender option[value="${item.genderID}"]`).attr("selected", "selected");
            //$("#gender").prop("selectedIndex", this.genderID);


            $('#patientSearch').modal('hide');

        }

        function populatePatientCards(patientID) {
            // Make an API call to fetch data for the "otherDropdown"
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetPatientCards", "Reception")",
                data: { patientID: patientID },
                success: function (response) {
                    // Clear previous options and populate the "otherDropdown"

                    $patientCardsDropdown.empty();

                    // Populate options based on the response
                    $patientCardsDropdown.append($("<option />").val("").text(`Yeni Kart`));
                    response.forEach(function (item) {
                        $patientCardsDropdown.append($("<option />").val(item.cardID).text(`Kart - ${item.cardID}`));

                    });

                    if (response.length > 0) {
                        selectedPatientCardID = response[0].id;

                    }
                },
                error: function (error) {
                    console.error('API error:', error);
                    // Handle API errors here, e.g., show an error message
                }
            });
        }


        $('#patientSearch').on('hidden.bs.modal', function () {
            $('#foundPatientsTable tbody').empty();
            $('#fullNamePattern').val('');
        });

        $('#prescriptionModal').on('hidden.bs.modal', function () {
            $('#serviceForm')[0].reset();
            $('#serviceForm').removeClass('was-validated');
        });




        $('.remove-card').on('click', function (e) {
            e.stopPropagation();
            let itemId = $(this).data('item-id');
            $('#confirmModal').data('item-id', itemId);
            $('#confirmText').text('Növbəni ləğv etmək istədiyinizə əminsiniz?');
            $('#confirmModal').modal('show');


        })

        $('#confirmModalButton').on('click', function (e) {
            e.stopPropagation();
            let itemId = $('#confirmModal').data('item-id');
            //console.log(itemId);
            showLoading();
            $.ajax({
                url: "/Prescriptions/RemoveCard",
                method: 'POST',
                data: { cardId: itemId },
                success: function (response) {
                    //console.log(response);
                    window.location.reload()
                },
                error: function (error) {
                    console.error("error: ", error);
                    hideLoading();

                }
            });

        })
    </script>



}