
@model Medicloud.ViewModels.ExaminationViewModel

<div class="col-12 ">
    <div class="card">
        <div class="card-header ">

            <div class="row">
                <div class="col">
                    <h4>Müayinə məlumatları</h4>
                </div>
                <div class="col-auto">
                    <label class="form-label">Növbələr</label>
                    <select class="form-control dropdown" id="patientCardSelector">
                        <option selected value="">Yeni Növbə</option>
                    </select>
                </div>
            </div>



        </div>
        <div class="card-body">
            <div class="form-group">


                <div id="newPatientContainer">

                    <div class="form-group mb-3">
                        <!-- <h3 style="text-align:right; margin-right:2%"><span class="badge badge-secondary">Cəmi: ---</span></h1> -->
                        <div class="row">

                            <div class="col-md-3">
                                <label class="form-label">Təşkilat</label>
                                <select class="form-control dropdown" @(Model.Companies?.Count == 1 ? "disabled" : "") required id="companies">
                                    @if (Model?.Companies != null)
                                    {
                                        foreach (var item in Model.Companies)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                </select>


                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Müraciət növü</label>
                                <select class="form-control" required id="requestType">
                                    <option value="">Seçin</option>
                                    @if (Model?.RequestTypes != null)
                                    {
                                        foreach (var item in Model.RequestTypes)
                                        {
                                            <option value="@item.ID">@item.name</option>
                                        }
                                    }
                                </select>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Qiymət qrupu</label>
                                <select class="form-control" required id="priceGroup">
                                </select>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Xidmət</label>
                                <select class="form-control" required id="services">
                                    <!-- <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option> -->
                                </select>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>

                            <!--<div class="col-md-4">
                            <label for="exampleFormControlSelect1">Poliklinika</label>
                            <select class="form-control" required id="departments" onchange="depChanged(this)">-->
                            <!-- <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option> -->
                            <!--</select>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="row align-items-end d-flex">

                            <div class="col-md-4">
                                <label class="form-label">Müəssisədə xidmət edən personal</label>
                                <select class="form-control" required id="doctors">
                                    @if (Model?.Doctors != null)
                                    {
                                        @if (Model.Doctors.Count == 1)
                                        {
                                            <option selected value="@Model.Doctors[0].ID">@Model.Doctors[0].name @Model.Doctors[0].surname (@Model.Doctors[0].speciality.name)</option>
                                        }
                                        else
                                        {
                                            <option value="">Seçin</option>
                                            foreach (var item in Model.Doctors)
                                            {
                                                <option value="@item.ID">@item.name @item.surname (@item.speciality.name)</option>
                                            }
                                        }

                                    }
                                </select>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>
                            @*                             <div class="col-md-4">

                                    <label class="form-label">Gödərən</label>
                                    <select class="form-control" id="referer">
                                        <!-- <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option> -->
                                    </select>
                                    <div class="valid-feedback">
                                        Əla!
                                    </div>
                                    <div class="invalid-feedback">
                                        Boşluğu doldurun.
                                    </div>
                                </div> *@
                            <div class="col-md-4">
                                <label class="form-label">Qiymət (AZN)</label>
                                <input type="tel" class="form-control" required id="price" placeholder="Məbləğ" disabled>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">
                                    Boşluğu doldurun.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check text-start " id="onlineContent">
                                    @*<input type="hidden" name="isOnline" value="false">*@
                                    <input type="checkbox" style="cursor:pointer;" class="form-check-input" name="isOnline" value="" id="isOnline">
                                    <label class="form-check-label " style="cursor:pointer;" for="isOnline">Onlayn</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row align-items-center mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Gün:</label>
                                <input class="form-control"
                                       type="date"
                                       id="MeetingDate"
                                       name="MeetingDate"
                                       value="2018-06-12T19:30"
                                       required>
                                <div class="valid-feedback">
                                    Əla!
                                </div>
                                <div class="invalid-feedback">Günü daxil edin</div>
                            </div>
                            <div class="col-md-8">
                                <div class="row align-items-center col-12">

                                    <div class="col-md-5">
                                        <label for="startTime" class="form-label">Başlama</label>
                                        <input id="startTime" class="form-control" type="time" required />
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>
                                        @*                                         <div class="d-flex align-items-center">

                                            </div> *@

                                    </div>
                                    <div class="col-md-5">
                                        <label for="endTime" class="form-label">Bitmə</label>
                                        <input id="endTime" class="form-control" type="time" required />
                                        <div class="valid-feedback">
                                            Əla!
                                        </div>
                                        <div class="invalid-feedback">
                                            Boşluğu doldurun.
                                        </div>
                                        @*                                         <div class="d-flex align-items-center">

                                            </div> *@

                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-info " style="display:none;" type="button" id="infoHoursButton">Info</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group mb-3">

                        <label class="form-label">Qeyd</label>
                        <textarea class="form-control" id="note" rows="3" placeholder="Qeydlərinizi daxil edin"></textarea>
                        <div class="valid-feedback">
                            Əla!
                        </div>
                        <div class="invalid-feedback">
                            Boşluğu doldurun.
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group mb-3 d-flex align-items-center justify-content-between">


                <div class="">
                    <button type="button" id="createCard" class="btn btn-primary ">Qeydə al</button>

                    <button type="button" class="btn btn-info " onclick="loadAddServiceIntoPatientCardModal()">Xidmətlər</button>

                    <button type="button" class="btn btn-primary" onclick="generateRecipe()">Çek əldə et</button>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="resetButton">+ Yeni xəstə</button>

                </div>

            </div>
        </div>
    </div>
</div>